[2020-11-08 09:01] Praful932 opened #4 "Add Unit Tests"
Add Unit Tests for AJAX Views & User Model

[2020-11-08 09:07] Praful932 opened #6 "Visual Feedback/Validation after a book is rated"
There should be visual feedback or validation for the user after a book has been rated.
![image](https://user-images.githubusercontent.com/45713796/98461320-3706b500-21d1-11eb-9751-f15e80827ce1.png)

[2020-11-08 09:08] Praful932 opened #7 "Replace Count Vectorizer approach with Tf-idf"
Replace the current approach of Count Vectorizer with Tf-idf.

[2020-11-08 09:15] Praful932 opened #8 "Top Books among users"
Currently the Page Displays Top Books from the Dataset.
![image](https://user-images.githubusercontent.com/45713796/98461295-feff7200-21d0-11eb-996e-ec9ed13d20ec.png)

[2020-11-17 09:37] #4 closed

[2020-11-20 15:00] Praful932 opened #10 "Incomplete Book Summary"
**Describe the bug**
Book Summary of certain Books after searching are incomplete.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Homepage](https://kitabe-app.herokuapp.com/)
2. Click on the search bar
3. Type a Book Name
4. Let the Book Summary Load

**Expected behavior**
The book summary should be readable and complete.

**Screenshots**
![image](https://user-images.githubuserco

[2020-11-24 16:25] VEDANTGHODKE opened #11 "Feedback - Vedant Ghodke"
The project looks amazing and the ReadMe file is indeed quite catchy and attractive. I did check the codes and saw that they need a few refinements and improvements. However, I also did observe that you have open issues for improvements already suggested. Just a friendly tip: Try and use individually worked content for feedbacks rather than co-authored work.

[2020-11-24 16:45] Praful932 commented on #11
Could you elaborate?

[2020-11-24 17:23] VEDANTGHODKE commented on #11
I saw two contributors to your project. Try and circulate the projects that you have done by yourself only.

[2020-11-24 17:45] Praful932 commented on #11
The project was being built for quite some time and before **circulating and posting** the repository , I had asked for approval from Sir :) Neverthless the motive is not affected, the Project is Open Source, anyone can collaborate ⚡

Closing the Issue.

[2020-11-24 17:45] #11 closed

[2020-12-05 09:36] Abg4real opened #13 "Project Feedback"
Hi @Praful932 and @maneprajakta
I went through your project and I really liked it a lot.
The idea of good books being recommended to is fascinating to a bookworm like me.
Here are some suggestions:
1. The logo on the left side of the home screen is smaller in size.
2. The images you are using are of quite high quality and it seems to hamper the loading time of the website. Try using a image-size c

[2020-12-07 11:35] #6 closed

[2020-12-10 15:54] Praful932 commented on #13
Thanks for the feedback @Abg4real, Will add these issues to the project [tracker](https://github.com/Praful932/Kitabe/projects/1). Meanwhile do let us know if you would like to take up any of these issues and contribute :)

[2020-12-10 16:39] Abg4real commented on #13
Sure!

[2020-12-10 18:35] maneprajakta commented on #13
Thankyou :star2:  for the feedback @Abg4real , will surely look forward to these suggestions.

[2020-12-11 00:14] Abg4real commented on #13
🙌😄

[2020-12-12 14:50] Praful932 commented on #13
#15 Solved 2. The slow loading time is due to heroku server location and speed.
@maneprajakta Any takes on 3?
@Abg4real Could you elaborate on 1?
This could have been 3 separate issues 😄

[2020-12-12 14:58] Abg4real commented on #13
![image](https://user-images.githubusercontent.com/55308761/101987187-92d4ca00-3cb8-11eb-8ecc-063a7611e381.png)
As you can see, the font of the logo on top left corner is smaller compared to standard logo sizes. 2rem font size would look better.

[2020-12-12 15:09] Praful932 commented on #13
Ok are you willing to make a PR for this?

[2020-12-13 05:27] Abg4real commented on #13
sure no problem. But I think the PR will an overkill for a mere font size change.

[2020-12-13 11:24] Praful932 commented on #13
I meant this issue except the images part

[2020-12-14 02:36] Abg4real commented on #13
Oh.
Sure no problem.
I'll create one soon.

[2020-12-14 03:44] #8 closed

[2020-12-14 16:54] #7 closed

[2020-12-15 02:15] #10 closed

[2020-12-15 16:56] vedantipawar opened #18 "Project Feedback"
Hey! I loved your project. The idea of using ratings was good too. But wont the existing books over shadow the recently published books due to fewer ratings. For example if I liked a particular book, I give it a 5-star rating but because there is only one review it wont be suggested to more people right? Because other books that are good would be having 5 stars and more number of reviews too. Not

[2020-12-16 05:26] Sudhir-Pawar opened #19 "Project Feedback"
Hi I really liked the idea of the book recommendation system and project that you have built so far. I also visited your project website. It looks really nice.
Some suggestion for improvement:
1.  I notice that you have used a lot of carousels, well it looks good at first but it's difficult to use at least for me when I  was exploring your explore page and your home page genre session. I would lik

[2020-12-16 06:53] maneprajakta commented on #19
Hi @Sudhir-Pawar
Thank you for visiting the project and giving Feedback.
for  your suggestions:
1.We have lots of books to show in the Explore section that's why we made carousel for it. We will try but if it's giving the user a friendly way to operate the website.
2.This will be solved by issue #13 we are working on it.
3.Can you specify in which section this happens.
Also if you want to take any

[2020-12-16 15:13] Praful932 commented on #18
Hi @vedantipawar, We are using the goodbooks dataset for model building. As mentioned in the Readme specifically in this [part](https://github.com/Praful932/Kitabe#model-exploration-), we are using a similarity measure on **books** on the basis of feature extracted from an already rated user-item dataset and also on the book title as well as the author. Currently there is no provision of recommend

[2020-12-17 05:55] Sudhir-Pawar commented on #19
For bookcard where bookname and authorname  are long overlap with ratethis and more details button happens in "Popular Among Us" section on Home page.

[2020-12-18 13:42] maneprajakta commented on #19
ok thanks @Sudhir-Pawar

[2020-12-19 06:45] maneprajakta opened #22 "Popular among us Book card"
**Popular among us Book card**
The current book card does not put a limit on the book title and book author text displayed.
so, when the book title name, author name exceed the line limit that can be displayed on the card it leads to overflow and also overlaps with the buttons.

**To Reproduce**
Steps to reproduce the behavior :
1. Go to 'home page'
2. Scroll down to the 'popular among us section'

[2020-12-20 17:27] Praful932 commented on #18
@vedantipawar Does this solve your issue?

[2020-12-21 10:29] vedantipawar commented on #18
Yes, it solved my issue. Thankyou.

[2020-12-24 02:52] #18 closed

[2020-12-26 07:44] Praful932 commented on #22
@maneprajakta #21 Was this only for Author names?

[2020-12-26 08:26] maneprajakta commented on #22
@Praful932 yes

[2020-12-26 11:12] Praful932 commented on #22
Shall I make a PR with this - `{{ value|truncatechars:7 }}` fix?

[2020-12-27 03:18] maneprajakta commented on #22
Yes no issue .

[2020-12-27 15:56] #22 closed

[2021-01-21 13:53] Praful932 commented on #19
#26 Fixes this

[2021-01-21 13:53] #19 closed

[2021-01-21 13:54] Praful932 commented on #13
#26 Fixes this 🚀

[2021-01-21 13:54] #13 closed

[2021-02-13 13:40] Praful932 opened #30 "Frontend Bug Fixes"
**Describe the bug**
There are certain frontend bug fixes especially the **Rate this book** button after the last patch. All bugs are after a user signs in.

**Screenshots**

1. **Homepage** - Popular Among Users Section (Improper Button Size and Alignment)
![image](https://user-images.githubusercontent.com/45713796/107850560-48430b80-6e29-11eb-8796-a909ff3c1f0f.png)
2. **Your Read Section** (Impr

[2021-02-13 16:35] ranjal007 commented on #30
@Praful932 Can I work on this issue

[2021-02-14 17:36] Praful932 commented on #30
Hi @ranjal007 Thanks for your interest in contributing to this project :)
We are currently setting up the project for automated tests on PR, a bit more documentation and more enhancement issues. This setup will be ready in this week. I'll tag you again as soon as the internal changes are done

Thanks

[2021-02-15 13:56] ranjal007 commented on #30
@Praful932  Okay I will be waiting for the response.

[2021-02-17 16:07] supzi-del commented on #30
Can I take this up?

[2021-02-18 06:47] samfubuki commented on #30
Can I work on this issue?

[2021-02-19 18:20] Vartika511 commented on #30
Can I takes this issue??

[2021-02-20 10:31] Praful932 commented on #30
Hello! Thank you for your interest for contributing to this issue. We will be locking the conversations as we are currently undergoing some internal changes, after unlocking contibutors will be tagged to work on the issue
Thanks

[2021-03-05 07:07] Praful932 opened #33 "Code Coverage for helpers.py"
**Describe the bug**
The coverage of the file [helpers.py](https://github.com/Praful932/Kitabe/blob/master/mainapp/helpers.py) is low 59%.

**To Reproduce**
Steps to reproduce the behavior:
1. `coverage run manage.py test mainapp`
2. `coverage report`

**Expected behavior**
Code coverage for the corresponding file should be atleast `90%`

**Screenshots**
![image](https://user-images.githubusercont

[2021-03-05 07:59] Praful932 opened #35 "Code coverage for views.py"
**Describe the bug**
The coverage of the file [views.py](https://github.com/Praful932/Kitabe/blob/master/mainapp/views.py) is low 60%.

**To Reproduce**
Steps to reproduce the behavior:
1. `coverage run manage.py test mainapp`
2. `coverage report`

**Expected behavior**
Code coverage for the corresponding file should be atleast `90%`

**Screenshots**
![image](https://user-images.githubusercontent.

[2021-03-05 18:59] Mukta-Sawant commented on #33
@Praful932 I would like to work on this issue as a part of GSSOC'21?

[2021-03-06 10:40] Praful932 opened #36 "Docstrings for helpers.py"
**Describe the bug**
The `helpers.py` file does not have clear docstrings for functions. Documentation of this would help developers have a clearer picture of the code.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the [helpers.py](https://github.com/Praful932/Kitabe/blob/master/mainapp/helpers.py) file

**Expected behavior**
The docstrings of the functions should be documented accor

[2021-03-06 10:49] Praful932 commented on #30
Let me know if you @ranjal007 would like to work on this, I'll assign once you acknowledge

[2021-03-07 15:47] abhish3k-11 commented on #30
I'd like to work on this. @Praful932 .

[2021-03-07 15:59] abhish3k-11 commented on #36
@Praful932 I would like to work on this issue as a part of GSSOC'21. Can you help me on how to get started?

[2021-03-08 03:57] vermatanu commented on #36
I want to work on this issue as a part of GSSOC'21

[2021-03-08 04:58] Praful932 commented on #33
@Mukta-Sawant Go ahead!

[2021-03-08 05:07] Praful932 commented on #30
@abhish3k-11 Go ahead!

[2021-03-08 05:09] Praful932 commented on #36
@abhish3k-11 Since you have already commented on another issue first, I have tagged you there
Go ahead @vermatanu

[2021-03-08 05:33] Praful932 opened #37 "Rate⭐ From Search"
**Is your feature request related to a problem? Please describe.**
Currently there's no way to rate a book after searching it

**Describe the solution you'd like**
I'm able to rate through the modal after I search for a book
![image](https://user-images.githubusercontent.com/45713796/110278285-fc851b80-7ffc-11eb-902d-8615ce404a83.png)

**Additional context**
The stars that are currently displayed

[2021-03-08 05:58] Praful932 opened #38 "Better Recommendations🧙‍♂️"
**Is your feature request related to a problem? Please describe.**
There are cases when there is not enough books to recommend the user, In this cases currently next top books are taken up according to TF-IDF approach.

**Describe the solution you'd like**
A better approach would be to take in equally from TF-IDF also similar genre books. If the remaining books to be recommended are 4, 2 - TF-IDF

[2021-03-08 05:58] abhish3k-11 commented on #30
@Praful932 the css is not working, so I'm going ahead and make some changes to resolve the same. Then I'll fix the frontend bugs. Is it okay?
<img width="960" alt="see" src="https://user-images.githubusercontent.com/67673898/110280635-280a0500-8001-11eb-973c-87e46ca6acf1.PNG">

[2021-03-08 06:00] Praful932 commented on #30
@abhish3k-11 It needs to be run on a server. Please follow the [Guide](https://github.com/Praful932/Kitabe/blob/master/CONTRIBUTING.md) for setting up the Project

[2021-03-08 06:22] Praful932 opened #39 "Better Hyperparameter Search"
**Is your feature request related to a problem? Please describe.**
Currently the number of components used to determine book embedding is `200`. Since it seemed to work and the search takes a lot of time for us locally, We fixed the hyperparameter to that.

**Describe the solution you'd like**
Does a better hyperaparameter exist? Can we do a Randomized Search or a Grid Search to determine that, ma

[2021-03-08 06:30] abhish3k-11 commented on #30
Oh yeah! Thanks for the help!!

[2021-03-08 14:42] sk1122 commented on #37
I would love on this issue @Praful932

[2021-03-08 15:42] srimontidutta commented on #36
I want to get started with this for GSSoC 21. Can you please guide me on it?

[2021-03-08 15:53] maneprajakta commented on #33
@Mukta-Sawant are you working on this issue.

[2021-03-08 15:55] maneprajakta commented on #36
@vermatanu are you working on this issue.

[2021-03-08 16:31] vermatanu commented on #36
@maneprajakta yes I am working on this
@Praful932 I am a beginner with GitHub, should I create a pull request after done with the work, for reviewing?

[2021-03-08 16:46] saaalik commented on #38
I do like the idea of dropping down on TF-IDF recommendations and only taking top 3-4 with highest relevancy score but adding in books of "Similar" genre in recommendations would make things very complicated

A word does not have to associate with any kind of genre. For example, If you search for 'three' in the search box
The 5 results returned are:
three cups of tea - `Memior` `Biography`
the dra

[2021-03-08 16:55] padmajabhol opened #40 "Add a favicon."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Are you willing to contribute to this issue?** [Yes/No]

**Describe alternatives you've considered**
A clear and concise description of any

[2021-03-08 17:09] Mukta-Sawant commented on #33
@maneprajakta Yes.

[2021-03-08 18:38] srimontidutta commented on #37
Can I please contribute to this issue? (GSSoC 21)

[2021-03-08 19:10] micksharma commented on #39
Can I work on this issue ?

[2021-03-08 19:11] micksharma commented on #35
Can I work on this issue ?

[2021-03-08 19:21] codebuzzer01 commented on #37
Hey! This issue seems interesting and it is a part of my work as well so I would like to contribute to it. (GSSoC 21) @Praful932

[2021-03-08 20:14] subhangi2731 commented on #39
can you assign this issue to me?

[2021-03-09 02:00] Shivam-Shandilya1 commented on #37
Heyy!! Can I work on this issue as a GSSOC participant?

[2021-03-09 02:36] maneprajakta commented on #35
Go for it @micksharma

[2021-03-09 02:38] maneprajakta commented on #37
Go ahead @sk1122

[2021-03-09 02:41] maneprajakta commented on #39
@micksharma as you are assigned #35
@subhangi2731 you can go ahead with this issue.

[2021-03-09 02:59] maneprajakta commented on #40
We do have a One  :

![Screenshot from 2021-03-09 08-22-30](https://user-images.githubusercontent.com/57425995/110411739-16803600-80b1-11eb-8547-b0fc4abc80ca.png)

Do you want to improve this one, can you elaborate?
Also, do follow the Github issue template while creating a new issue.

Thanks for showing interest.

[2021-03-09 03:00] sahildotexe commented on #30
Can you please assign me to this issue?

[2021-03-09 04:47] Praful932 commented on #40
@padmajabhol Please follow Issue template, I have edited your description. Make changes accordingly
Thanks for your interest

[2021-03-09 04:56] Praful932 commented on #38
Hi @saaalik 👋 Thanks for your interest in this project. I believe you are confusing between search and recommendations here. For search a simple string match is done, just like you do Search anywhere else.
Regarding your concern regarding TF-IDF, if you look at the notebooks, We not have only considered Book Title but also Author Name and Rating while recommending similar books using this approach

[2021-03-09 05:02] Praful932 commented on #36
@vermatanu Yes please, follow the [guide ](https://github.com/Praful932/Kitabe/blob/master/CONTRIBUTING.md) for contribution

[2021-03-09 05:06] Praful932 opened #41 "Dark Mode 🌗"
**Is your feature request related to a problem? Please describe.**
A switchable Dark Mode

**Describe the solution you'd like**
- Wireframe & Mockup Design
- Code Implementation

**Describe alternatives you've considered**
If there is any other alternative you would like to suggest go ahead.

[2021-03-09 05:26] machine-sg commented on #40
I am a GSSOC'21 participant and I wish to work on this. Hope to hear back from you .
Thank you .

[2021-03-09 05:39] micksharma commented on #41
I want to work on this issue.

[2021-03-09 05:40] saumyaparikh commented on #40
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:42] Anurag-bhatia commented on #41
kindly assigned me this issue under the review of GSSOC'21.

I would like to add solve this issue .My code is with  clear and proper comments.

[2021-03-09 06:30] sk1122 commented on #37
Thanks @maneprajakta

[2021-03-09 06:46] Praful932 opened #43 "Preloader 💫"
**Is your feature request related to a problem? Please describe.**
Since the project is hosted on the heroku free tier, it takes some time to load, It would be nice to have a preloader.

**Describe the solution you'd like**
Before the homepage is loaded, there should be a loading animation whose design matches with the theme of the website. It should load only once(using cookies) when it enters th

[2021-03-09 07:27] maneprajakta commented on #41
@micksharma as you are already working on #35
as per over [Guidelines](https://github.com/Praful932/Kitabe/discussions/42) one person can take a single issue at a time.

@Anurag-bhatia You can go ahead with this one.

[2021-03-09 08:37] cryptofox17 commented on #43
Could I work on this issue?

[2021-03-09 09:11] padmajabhol commented on #43
I want to work.

[2021-03-09 09:14] padmajabhol opened #44 "Make the navbar sticky"
**Describe the bug**
The navbar disappears as soon as we scroll down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home page'
2. Scroll down

**Expected behavior**
The navbar should be fixed at the top even when the user scrolls down the page.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot (5)](https://user-images.githubusercontent.com/75

[2021-03-09 10:19] nitinjaiswal7537 commented on #44
@padmajabhol  i would like contribute as a Gssoc 21  participant

[2021-03-09 10:47] Surabhi0910 opened #45 "Add a Contact Us page."
**Is your feature request related to a problem? Please describe.**
A contact us page is a must for any site. How else are people going to get in touch with you. I think this an important feature that must be included.

**Describe the solution you'd like**
Hence, to solve the above problem. I would like to develop a contact us page for everyone using this site.

**Are you willing to contribute to t

[2021-03-09 11:11] vidhi1121 commented on #45
i want to work with this project under Gssoc'21

[2021-03-09 12:35] AakankshaShah opened #46 "A like button for each book and affiliate links to buy books from various e commerce sites"
### Is your feature request related to a problem? Please describe.
No, it's an additional feature.

### Describe the solution you'd like
I would like to propose a solution where readers can like the book of their taste and also avail the buying feature that will redirect them to the e-commerce sites.

###  Are you willing to contribute to this issue?
Yes, I am willing to contribute.

[2021-03-09 12:37] AakankshaShah commented on #46
I am a GSSOC'21 participant and would like to work on it.

[2021-03-09 12:37] AakankshaShah commented on #44
I can work on this.

[2021-03-09 13:45] saaalik commented on #38
ooh, well this is embarassing... So the helper.py is the only script being used in the recommendation part or are their any other python depenecies? I want the recommendations section's working to sink in as soon as possible. I am interested in working on this project.

[2021-03-09 14:17] kanchi-22 opened #47 "Making the site responsive."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Are you willing to contribute to thi

[2021-03-09 14:17] kanchi-22 commented on #47
/assign

[2021-03-09 14:19] kanchi-22 commented on #45
/assign

[2021-03-09 14:37] maneprajakta commented on #43
@cryptofox17 go ahead with this.

[2021-03-09 14:46] maneprajakta commented on #44
@padmajabhol I have edited your description just go through it. So, that you can get what is supposed to be written where.
Go ahead with this one

[2021-03-09 14:53] ketakitankk opened #48 "Color pallete & font enhancement"
**Describe the bug**
The navigation bar of the site should be full of the name of the venture, however, the ne of the venture itself is extremely small in size and has not been aligned properly, the color palette of the site can be more vibrant and attractive and the fonts can be changed too. I feel in doing so, the site will attract traffic and be a successful one at it.

**To Reproduce**
Steps t

[2021-03-09 14:57] maneprajakta commented on #45
@Surabhi0910 Can you please follow the Issue template.
I have updated the issue description. Please make changes accordingly.

[2021-03-09 15:00] AakankshaShah opened #49 "Adding more sorting features and filters"
### Is your feature request related to a problem? Please describe.
No,its an additional feature.
### Describe the solution you'd like
I would like to add more filters for sorting the books on the basis of languages, authors, likes, series or not and many more on the similar lines.

### Are you willing to contribute to this issue?
**Yes**

[2021-03-09 15:00] maneprajakta commented on #47
@kanchi-22  Can you please follow the Issue template.
I have updated the issue description. Please make changes accordingly.

[2021-03-09 15:03] maneprajakta commented on #46
@AakankshaShah  Can you please follow the Issue template.
I have updated the issue description. Please make changes accordingly.

[2021-03-09 15:11] maneprajakta commented on #48
@ketakitankk I have updated the *Additional Context*  for the issue description just check once.
Also, are you contributing under GSSOC'2021

[2021-03-09 15:13] ketakitankk commented on #48
@maneprajakta yes, I’m a participant at GSSOC ‘21

[2021-03-09 15:15] maneprajakta commented on #49
@AakankshaShah  Can you please follow the Issue template.
I have updated the issue description. Please make changes accordingly.

[2021-03-09 15:17] maneprajakta commented on #48
Go ahead with this one @ketakitankk

[2021-03-09 15:29] shubhamgoel01 commented on #44
I would like to fix this bug.

[2021-03-09 15:48] shubhamgoel01 commented on #48
You can make your navbar-footer section in base class, and inherit that into other html files(Explore.html) and put body or any section into base class using  . basically its template inheritance. Easy to manage and build site in more attractive way

[2021-03-09 16:31] Surabhi0910 commented on #45
@maneprajakta I have updated. Could you please have a look at it now?

[2021-03-09 16:48] WaderManasi opened #50 "Feat: Better UI for signup page"
**Is your feature request related to a problem? Please describe.**
Better UI for signup page.

**Describe the solution you'd like**
Signup page UI ,Signup Form can be updated with latest styling design using responsive frontend framework - "Materialize"
![signup](https://user-images.githubusercontent.com/52437677/110506114-d195e700-8124-11eb-9e34-60fecb0dabe0.PNG)

**Are you willing to contribute

[2021-03-09 17:17] nNikita1018 commented on #50
Yes I would like to contribute on this issue .
Please assign me

[2021-03-10 04:35] YasviPatel commented on #36
hii,@praful932 I am participate at GSSoC'21 I would like to work with this issue.Would you please assign it to me?

[2021-03-10 05:17] shubhamgoel01 commented on #44
@padmajabhol hey i solve this issue .

[2021-03-10 06:08] chandramanipandey commented on #45
@Surabhi0910

Hi there Mentors, I am participant of GSSOC 21, I would like to work on this issue with the project Given below is my proposal.

A contact us page is usefull for connecting users of the app to connect with the company in most of the ways possible, In my view there are 3 ways i will make this possible
1)Phone no for technical support (Old way but this could be replaced by live chat wi

[2021-03-10 06:16] Praful932 commented on #30
@sahildotexe Please read the [guidelines](https://github.com/Praful932/Kitabe/discussions/42) 🙂
Thanks

[2021-03-10 06:21] Praful932 commented on #36
Hi @YasviPatel , Thanks for your interest in this project, This issue is already assigned. Please check the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) 🙂

[2021-03-10 06:24] Praful932 commented on #37
@srimontidutta @codebuzzer01 @Shivam-Shandilya1 Thanks for your interest in this project 🚀. Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-10 06:26] Praful932 commented on #38
@saaalik Yep that's the only script and some similarity files are used. Check out the Project Structure and the Model exploration part specifically from [here](https://github.com/Praful932/Kitabe#contents) to understand how it's all put together. If you need any help, feel free to shoot doubts 🚀

[2021-03-10 06:33] Praful932 commented on #41
@Anurag-bhatia Do checkout the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-10 06:35] Praful932 commented on #44
@shubhamgoel01 Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) 🙂

[2021-03-10 06:49] Praful932 commented on #45
Hi @shubhamgoel01 @chandramanipandey @Surabhi0910 @kanchi-22 Appreciate your interest in the project and for going all out on this issue 🙂
We already have a footer if anyone wants to be able to contact us or check out the repository
![image](https://user-images.githubusercontent.com/45713796/110587810-1dcf3e80-819a-11eb-9b17-b6bcda9289fc.png)

Since our intention of this project is as a community

[2021-03-10 06:49] #45 closed

[2021-03-10 06:50] machine-sg opened #53 "[GSSOC'21] Profile page is not there"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Are you willing to contribute to this issue?** [Yes/No]

**Describe alternatives you've considered**
A clear and concise description of any

[2021-03-10 06:56] Praful932 commented on #46
@AakankshaShah We had a similar issue created #45. As for the like button, we already have a rate option, that would suffice.
Check out the [contributor guide](https://github.com/Praful932/Kitabe/discussions/42) for further details

Thanks

[2021-03-10 06:56] #46 closed

[2021-03-10 06:59] Praful932 commented on #48
@ketakitankk Check out the Important Notes in the [starter guide](https://github.com/Praful932/Kitabe/discussions/42). There are specific points for UI/UX improvements/fixes

[2021-03-10 07:01] Praful932 commented on #49
Hi @AakankshaShah Thanks for your interest in the project. Could you elaborate a bit further? How would you like this feature to be? Do you want to have a separate page? Do you want to able to search in what way, how would you implement the sort?
The scope is pretty broad here

[2021-03-10 07:02] maneprajakta commented on #50
@nNikita1018 Thanks for showing interest :smiley:  Please read our [Guidelines](https://github.com/Praful932/Kitabe/discussions/42) once.

[2021-03-10 07:05] YasviPatel commented on #53
hiii @machine-sg I am interested in this.I am participate at GSSoC'21.Would you please assign this issue to me???

[2021-03-10 07:05] Praful932 commented on #50
Hi @WaderManasi Thanks for showing interest in our project 😇
Are you going to change the UI or make it responsive? If there is a UI change, then to keep it consistent we would need changes on the Login page as well, keeping into account the theme of the project

[2021-03-10 07:07] MayankBeck commented on #44
I would love to work on this issue under GSSoC 21. Can you please assign this to me?

[2021-03-10 07:08] MayankBeck commented on #41
I would love to work on this issue under GSSoC 21. Can you please assign this to me?

[2021-03-10 07:10] shubhamgoel01 commented on #44
@Praful932  I did that , i mean to say please check my merge request, i make navbar sticky

[2021-03-10 09:35] Anurag-bhatia commented on #41
@Praful932  do anyone mentor me or i have to work on my own. i am new to this.

[2021-03-10 11:29] Miru-s opened #56 "New Feature : Wishlist"
**Is your feature request related to a problem? Please describe.**
Wishlist or a save for later feature where one can save their favorite books for later.
Ex: When a person is randomly browsing through the website and comes across a book of his/her interest but is already preoccupied by other things and wants to keep it for later can use this feature to save the book in his/her "to read list".

**

[2021-03-10 11:31] Mirnalin opened #57 "Suggesting books by the writer"
If one seems to be interested in a book by a particular writer, we suggest them more books by the same writer.

I'm an GSSoC'21 participant please assign this issue to me.

[2021-03-10 11:45] Mirnalin commented on #57
Example : If an individual is interested in say Fault in our stars by John Green, so the feature will suggest more books by John Green like Looking for Alaska, Paper towns and many more.

[2021-03-10 12:14] AakankshaShah commented on #49
In the genre (existing) page I would like to add the sorting page  to filter and sort  books according to authors, ratings,languages etc.

![image](https://user-images.githubusercontent.com/55951533/110627634-39513e00-81c8-11eb-8edb-1b5e1b2e1d44.png)

[2021-03-10 12:50] SandeepKrSuman opened #58 "Brand-logo on the navbar"
**Is your feature request related to a problem? Please describe.**
Navbar contain brand name as a simple text. Having a brand image instead of simple text would look better.

**Describe the solution you'd like**
Adding the logo as the brand-image.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I want to contribute to this issue as a part of GSSOC'21.

**Additional context**
- Befo

[2021-03-10 13:02] thesakshipandey commented on #40
I've good resources to work on this issue.

[2021-03-10 13:03] thesakshipandey commented on #53
I can work on this issue, can you assign me this issue?

[2021-03-10 13:04] thesakshipandey commented on #58
Yes, I want to contribute to this issue as a part of GSSOC'21.

[2021-03-10 13:44] anshika208 commented on #58
Yes , i want to contribute to this issue as a part of GSSOC'21

[2021-03-10 15:30] ShrutiKhatri826 commented on #53
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 16:20] maneprajakta commented on #36
Hi @ambivert-sam Thank you for showing interest :smile:. This issue is already assigned. Please check [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) which we follow.

[2021-03-10 16:26] maneprajakta commented on #40
Thank You for showing interest :smiley:  @thesakshipandey but the issue is unclear.We are not assigning anyone to it until it becomes clear. Check out our [Starte Guide](https://github.com/Praful932/Kitabe/discussions/42) to know more.

[2021-03-10 16:29] maneprajakta commented on #41
@MayankBeck Thank you for showing interest :rocket: but this issue is already assigned to someone.Do check out  our [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) for same:smile: .

[2021-03-10 16:35] maneprajakta commented on #41
@Anurag-bhatia great :rocket:  If you have set up the project locally at your end by going through [starter guide](https://github.com/Praful932/Kitabe/discussions/42). You can start working on the issue from your end also We do have mentors for the project that can help you will let you know once we contact them :smiley: .

[2021-03-10 16:38] maneprajakta commented on #44
@MayankBeck Thank you for showing interest :rocket:  but this issue is already assigned to someone. Please go through our [Starte Guide](https://github.com/Praful932/Kitabe/discussions/42) once :smiley: .

[2021-03-10 16:41] maneprajakta commented on #48
@MayankBeck @salonidabgar Thanks for showing interest :star2: But this issue is already assigned to someone . Once go through our [Starte Guide](https://github.com/Praful932/Kitabe/discussions/42) it would be more clear :smile: .

[2021-03-10 16:43] maneprajakta commented on #53
@machine-sg The issue is not clear can you edit the description of the issue and make it more clear. If we don't hear back from you in 3 days we will close this issue.

[2021-03-10 16:46] maneprajakta commented on #53
@YasviPatel @thesakshipandey @ShrutiKhatri826 Thanks for showing interest :star: . But as the issue is not clear we are not assigning anyone to this. Meanwhile, you can go through our [Starte Guide](https://github.com/Praful932/Kitabe/discussions/42) to get a more clear view of the project and how to contribute to it  :smiley: .

[2021-03-10 17:05] maneprajakta commented on #49
@AakankshaShah Genre page shows top 16 books belonging to that genre which are having maximum weighted rating which is based on the rating given by the user.
This [Section](https://github.com/Praful932/Kitabe/blob/91c168d1bcd5888c835fc48bf3ff3e0ac05064b7/mainapp/helpers.py#L98) will make it more clear how this works.
Also, go through our [Starter Guide ](https://github.com/Praful932/Kitabe/discuss

[2021-03-10 17:13] maneprajakta commented on #56
Hi, @Mirnalin  I have edited your feature request description please follow it accordingly and make changes to it.
Also while creating an issue please follow the Issue template.
Also, go through our  [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) :smiley: it will help you in getting started with project .

[2021-03-10 17:15] maneprajakta commented on #57
@Mirnalin please follow the issue template for creating an issue.

[2021-03-10 18:13] Praful932 commented on #50
Great @WaderManasi Go ahead, Be sure to follow the Important Notes in the [Guidelines](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-10 18:24] neha-baisane opened #59 "Improvement in the footer"
The footer does not contains Contact information, mode of payment and other things hence it looks very dull. As a GSSOC'21 participant i would like to work on the issue.
![new](https://user-images.githubusercontent.com/64725427/110678017-d5e10380-81fb-11eb-9135-59737a4298fa.PNG)

[2021-03-10 18:26] Praful932 commented on #58
@SandeepKrSuman Good catch! You can take it up. Follow the important points in the [guidelines](https://github.com/Praful932/Kitabe/discussions/42),
Happy hacking!

@thesakshipandey @anshika208 Since this issue is taken up you can have a look at the [guidelines](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-10 18:29] Praful932 commented on #59
Hi @neha-baisane Thank you for your interest in this project 🙂
We had 2 similar issues #45 Check [this](https://github.com/Praful932/Kitabe/issues/45#issuecomment-794979602) thread out.
Check out the [guidelines](https://github.com/Praful932/Kitabe/discussions/42) for other ways to contribute to this project!

[2021-03-10 18:29] #59 closed

[2021-03-10 18:36] SandeepKrSuman commented on #58
oh m so sorry. By mistake I clicked on "close this" . what to do now please help @Praful932

[2021-03-10 19:29] sneha-nitdgp opened #60 "Google Authentication"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Are you willing to contribute to this issue?** [Yes/No]

**Describe alternatives you've considered**
A clear and concise description of any

[2021-03-10 19:29] sneha-nitdgp commented on #60
Can you please assign this to me?

[2021-03-11 04:52] ketakitankk commented on #48
Hi @maneprajakta , I have created a mockup design of the landing page, please check it out and let me know asap!
https://app.moqups.com/WDod2wWXrw/view/page/a5a593ec7

[2021-03-11 04:54] ketakitankk commented on #48
Hi @Praful932 , I have created a mockup design of the landing page, please find the attachment and let me know asap!
https://app.moqups.com/WDod2wWXrw/view/page/a5a593ec7

[2021-03-11 07:09] maneprajakta commented on #48
@ketakitankk If you could give access to view the mockup design.

[2021-03-11 07:12] ketakitankk commented on #48
I have made the changes. You can view the mock-up design now.

[2021-03-11 07:19] Greeshma2903 opened #62 "Better UI for 'Genres' and Landing page"
**Describe the bug**
The carousels used under 'Read Genre Wise' overflows beyond 3 (as indicated ). Also this way it becomes hard/tricky for the user to select a particular Genre (as they have to keep searching).

Also we can rescale the image below navbar, to redirect the attention to the 'Genres' section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://kitabe-app.herokuapp.c

[2021-03-11 07:21] kanishka8276 opened #63 "Top button for the home and explore page."
**Is your feature request related to a problem? Please describe.**
The options to sign up, logout, explore or other such options are available on the top of the home page and explore page, but when you are scrolling down and you want to use one of these options you have to scroll all the way to the top of the page Which is tidious.

**Describe the solution you'd like**
A very good solution to this

[2021-03-11 07:43] maneprajakta commented on #48
@ketakitankk  color palette looks great to me :rocket: .
Carousel of quotes, till that everything seems fine. I think we don't need the section **Brief introduction of the webpage, what it does, why it has been made,  how it works etc.**
In **Carousel Of Book Section**   you want to move the current **popular among users section** there but we don't have a chapter inside books if you could check o

[2021-03-11 08:01] maneprajakta commented on #63
@kanishka8276 The issue seems right but please follow the issue template for creating a feature request issue 🙂.
I have edited your issue description please make changes to it accordingly. You can check [this](https://github.com/Praful932/Kitabe/issues/58) to get clarity about what we aspect in an issue description.
Also, go through our [Starter Guide](https://github.com/Praful932/Kitabe/discussio

[2021-03-11 08:44] Fairspy opened #64 "New Feature: Library"
**Is your feature request related to a problem? Please describe.**
A new page having a list of already read books by the user.

**Describe the solution you'd like**
I would like to create a new page which has a list of all the already rated books by the user which can be accessed through the navbar, the theme of the page would be consistent with the website.

**Are you willing to contribute to thi

[2021-03-11 08:45] ketakitankk commented on #48
I shall submit another mockup soon @maneprajakta , countering all the issues you have mentioned in my current mockup.
Thank you.

[2021-03-11 08:55] kanishka8276 commented on #63
I have edited the comment. Elaborating this issue. I will like to solve this issue. Please assign this to me.

[2021-03-11 09:10] maneprajakta commented on #63
@kanishka8276 It looks great now :rocket: .We do have an issue that will add a sticky navbar but having a button to go to the top is a nice feature.
As it is a UI/UX issue please go through the **Very Important Points to be Noted** section in [Starte Guide](https://github.com/Praful932/Kitabe/discussions/42) also maintain the theme of the project.
Go ahead with this one :smile:

[2021-03-11 09:11] kanishka8276 commented on #63
Ok, thank you ☺️

[2021-03-11 09:22] maneprajakta commented on #64
@Fairspy the feature seems great to me :rocket: .But have you thought about how you will be implementing this
This section will be visible in the navbar only when the user signs in. After that, you need to fetch the books rated by the user from the database and render them on-page.
Also, go through our [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help you a lot to ge

[2021-03-11 11:06] Fairspy commented on #64
@maneprajakta I actually went through the code and that's when I got the idea for this feature the section will only be visible after user authentication Which is quite easy to implement. As for fetching books rated by the user there are two functions that I thought would help me with the same in `helpers.py` I could make use of `get_rated_bookids` function to get the list of book ids of already r

[2021-03-11 15:02] maneprajakta commented on #64
@Fairspy I hope you are clear that we will need a function in views.py to handle it and url.py will be referenced to it accordingly.
Now coming to the function which will handle everything in views.py it will filter out all the ratings given by the user to different books [Sort of Like this](https://github.com/Praful932/Kitabe/blob/91c168d1bcd5888c835fc48bf3ff3e0ac05064b7/mainapp/views.py#L57) fro

[2021-03-11 15:10] rk05-lenavo commented on #63
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:11] rk05-lenavo commented on #41
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:11] rk05-lenavo commented on #37
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:12] sujoy-coder opened #65 "Design Enhancement in login Form"
**Is your feature request related to a problem?**
The existing Login Form has minimal design which may lead to a bad impact for users.

**Describe the solution you'd like**
I would like to redesign the login page with material bootstrap as a frontend work.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I am ready to contribute in the same issue. I am a participant in GsSOC'21
Plea

[2021-03-11 15:12] rk05-lenavo commented on #35
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:26] maneprajakta commented on #65
@sujoy-coder we already have  #50 issue for the same.
Thanks for showing interest :rocket: .

[2021-03-11 15:26] #65 closed

[2021-03-11 15:44] Mirnalin commented on #56
@maneprajakta Hey! I have edited the comment and elaborated this issue and also let know if you want any more changes to it. I will like to solve this issue. Please assign this to me. And add GsSOC'21 label.

[2021-03-11 15:53] sujoy-coder commented on #65
Oops Sorry My bad, I thought #50 was for only signup page only. 🙇‍♀️

[2021-03-11 16:17] Fairspy commented on #64
@maneprajakta I do have an understanding on how to write the necessary function in views.py to handle the request as well as to update urls.py accordingly.
As for the condition when there are no books rated your idea seems doable.
So, should I start working on it?

[2021-03-11 16:23] maneprajakta commented on #64
@Fairspy  Yes go for it :rocket: .

[2021-03-11 16:35] Fairspy commented on #64
Great!
Thanks a lot.

[2021-03-11 17:47] Praful932 commented on #64
@Fairspy Nice job for thoroughly thinking about it! 🚀
- In case of 0 books you can reuse the message which shows when users with 0 rated books trys to enter recommendation section.
- Make sure to write the corresponding unit tests :)
- You also need to add a wireframe/mockup for the page that you are designing before the implementation

[2021-03-11 17:50] Praful932 commented on #63
@rk05-lenavo Please read the [guidelines ](https://github.com/Praful932/Kitabe/discussions/42)🙂
Thanks

[2021-03-11 17:59] Praful932 commented on #60
@sneha-nitdgp Please follow the Issue template :) After filling it I can mark it as a valid issue
Google Sign in is there except it's on the signup page
![image](https://user-images.githubusercontent.com/45713796/110832414-49007d80-82c1-11eb-9bb6-9fa00952b39d.png)
We can change it to **Sign In** on the Sign in Page, and a similar button on the Sign Up page as *Sign up with Google*
What do you thin

[2021-03-11 18:16] Praful932 commented on #48
Hi @ketakitankk Great job on the quick mockups, I believe this issue is too broad and it is possible that this may go out of scope according to what I'm seeing from your mockup. The mockup should match exactly what currently is available on the application(backend code would have to be written according to it, if any additional feature is added).
Agree with @maneprajakta , that is not needed.
Look

[2021-03-11 18:18] Praful932 commented on #41
@rk05-lenavo Checkout the starter [guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-03-11 18:19] Praful932 commented on #35
@rk05-lenavo Checkout the starter [guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-11 18:30] Praful932 commented on #62
Hi @Greeshma2903 Thanks for your interest in the project :)

Could you elaborate this?
In the mockup could you add how it would look when scaled to a mobile view? particulary the 1st one
For the 1st one it would be nice to have a one block auto scroll
As for the color scheme theres an ongoing issue #48
Check this out @maneprajakta

[2021-03-12 03:53] maneprajakta commented on #62
@Greeshma2903 From the mockup what I could see is that instead of having four carousels in the genre section it should be replaced by a single carousel seems great to me.
Yes, think for mobile view also.

[2021-03-12 03:54] Greeshma2903 commented on #62
Thank you assigning this to me😊!
Yes sure, I'll draft the interface for small screens and get back to you.

Regarding the expected behavior:
I expected each carousel block to show me a list of similar genres, which it did not. And moreover the genres where more than 3 (as indicated), which might confuse the user.
![Carousel slide indicator](https://user-images.githubusercontent.com/70336930/110889

[2021-03-12 03:55] maneprajakta commented on #56
@Mirnalin have you thought about how you will be implementing this, can you elaborate?

[2021-03-12 03:56] Greeshma2903 commented on #62
Yes ma'am, working on it😄

[2021-03-12 03:56] maneprajakta commented on #64
@Fairspy also everything needs to be responsive.

[2021-03-12 04:32] Praful932 commented on #62
@Greeshma2903 not sure about what you meant by **similar genres**
First one as in this one
![image](https://user-images.githubusercontent.com/45713796/110892304-d1ab0800-8319-11eb-919c-9238fadb3a11.png)
Just call me @Praful932 without any honorifics 😄 This is Open source

[2021-03-12 06:28] Fairspy commented on #64
@Praful932 @maneprajakta I'll definitely keep all of these points in mind while implementing the page.
As for the wireframe I'll try to make one as soon as possible. I was thinking that I could make it similar to the genres page of the website but without the rate this book button as it's already been rated.

[2021-03-12 06:57] sneha-nitdgp commented on #60
@maneprajakta @Praful932 Yes, I'll  change the Sign up with Google button to Sign in with google on the login page, and in sign-up page add this as Sign up with Google.
Can I work on it?

[2021-03-12 07:13] Greeshma2903 commented on #62
Um, actually I thought there were multiple carousels, so each carousel might be a group of similar genres (like fiction and its sub-genres). But that wasn't the case 😅.

@Praful932 @maneprajakta I have made 2 different prototypes for small screens. Pls check them and would love some feedback on the same. https://www.figma.com/file/quY3GKiD5RgWhsJAg2PKyE/Carousel-draft-Kitaabe?node-id=0%3A1

@Prafu

[2021-03-12 09:02] rohank2502 opened #70 "Add techstack used in readme"
**Is your feature request related to a problem? Please describe.**
Yes it is a feature request from improvement of read me file !!

**Describe the solution you'd like**
I will like to add tech stacks used in this project with their logos this will make our project look much more attractive will like to work on this issue as soon as I get assigned !!

**Are you willing to contribute to this issue?*

[2021-03-12 10:42] maneprajakta commented on #64
@Fairspy Great
 Yep, np. I think it would be nice if you go for horizontal cards for an individual book.

[2021-03-12 10:43] maneprajakta commented on #60
@sneha-nitdgp Yes go ahead with this one :rocket:

[2021-03-12 10:46] maneprajakta commented on #60
@sneha-nitdgp
- Maintain the theme of the project.
- Also take care of Responsiveness.

[2021-03-12 10:47] rk05-lenavo commented on #35
@Praful932 could you  please assign me this.

[2021-03-12 10:56] maneprajakta commented on #62
@Greeshma2903 yep it's not like that 😅 we had arranged alphabetically in groups.
All three designs are Great 💫 but **carousel each with 3 blocks** seems perfect to me.

[2021-03-12 11:24] Greeshma2903 commented on #62
Oh 😅
thank you! @maneprajakta I have enabled editing for you if you want to make particular changes in UI. should I now clone the project and start with the code part? OR should I start after you make the changes?

[2021-03-12 12:06] AnanyaThapliyal2303 opened #71 "Preloader and forms"
I want to edit the Sign-up & Sign in form and add a preloader.

[2021-03-12 12:11] AnirudhPanda opened #72 "Change image format from Png to WebP"
**Describe the bug**
Image formats like JPEG 2000, JPEG XR, and WebP often provide better compression than PNG or JPEG, which means faster downloads and less data consumption.  Kitabe mostly uses jpg and png image formats which affect the website's overall performance.

**Expected behavior**
Faster Reloads

**Are you willing to contribute to this issue?** [Yes]
I am a GSSOC participant.

[2021-03-12 12:39] vidhi1121 commented on #72
I am participant in GSSOC'21.Can you please assign this to me?

[2021-03-12 13:46] maneprajakta commented on #62
@Greeshma2903 No changes from my side you can start working on it.
Yes, Bootstrap 4 is used.
Go through [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) once it will help you in setting up the project.

[2021-03-12 13:50] maneprajakta commented on #71
@AnanyaThapliyal2303 Thank You for showing interest but we already have #43 issue for preloader and #50 issue for Sign-up & sign-in.

[2021-03-12 13:50] #71 closed

[2021-03-12 13:56] cryptofox17 commented on #43
@Praful932 @maneprajakta i have made the animation, please look at it and let know if it needs any change. I have created a svg for the book and the animation was done using css. I have ensured to make it responsive and tried to match with the website theme. If you approve it, I'll fork and add this.
![Screen Shot 2021-03-12 at 19 18 41](https://user-images.githubusercontent.com/64403591/110949224

[2021-03-12 14:10] maneprajakta commented on #43
@cryptofox17 Seems cool to me.
Approved from my side :rocket: .
Once go through our [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help you in contributing to the project.

[2021-03-12 15:29] Fairspy commented on #64
@maneprajakta
Do you want something like this?
Large screen size:
![Desktop.png](https://user-images.githubusercontent.com/64915836/110961022-5d05b700-8375-11eb-8728-82789dd7020a.png)

Small screen size:
![Mobile.png](https://user-images.githubusercontent.com/64915836/110961127-7870c200-8375-11eb-80e5-9e3a1035318c.png)

I was also thinking of adding pagination for users with more than 20 read book

[2021-03-12 17:21] saaalik commented on #38
Updata: I spent the last two days scribbling a mind map connecting all the csv, pickle, npz etc files to their respective py files to better understand things at work. Only the files "Cleaning_and_Embedding_Notebook.pynb" and "Genre_wise_and_Count_vectorizer.pynb" do the count vectorizing and calculating cosine similarities on the data and dump data sets to be manipulated further. I still haven't

[2021-03-12 18:27] Praful932 commented on #38
Glad to see your involvement, you're picking things up fast🚀, You can shoot doubts if you encounter any 🙂

[2021-03-12 18:31] Praful932 commented on #43
@cryptofox17 Also make sure to only show the preloader once per window, Use Cookies 😉

[2021-03-12 18:39] Praful932 commented on #62
Mobile view seems good to me. **Let it move forward by 1 block** You can start working on it :)
Happy hacking!

[2021-03-13 03:20] maneprajakta commented on #64
Yes, seems cool.
Ya, it's nice after 10 books you can go for pagination.

[2021-03-13 03:53] maneprajakta commented on #70
@rohank2502 I have edited your issue description please complete it accordingly.
 You can check this #58 issue to see what we aspect in an Issue description. so, that you can move forward.

[2021-03-13 03:59] rohank2502 commented on #70
Ok sorry !! I will do it !

On Sat, Mar 13, 2021 at 9:23 AM Prajakta Mane ***@***.***>
wrote:

[2021-03-13 04:41] WaderManasi opened #73 "Environment Set Up not working in Windows"
**Describe the bug**
The command given for activating the environment (in CONTRIBUTING.MD file) is not working on windows platform. Instead the given commands work on Linux/Unix machines. I got error while running this command as "source is not recognized as internal or external command".

**To Reproduce**
I would like add command which executes on windows system.

**Screenshots**
![a1](https://us

[2021-03-13 05:19] Praful932 commented on #64
@Fairspy On large screen it would be nice if you could center the card info

[2021-03-13 05:26] Praful932 commented on #70
I don't think this is needed, It's easily conveyed from the github tags...

[2021-03-13 05:26] #70 closed

[2021-03-13 05:27] AmrutaKoshe opened #74 "Better UI for book list in the explore page"
**Describe the bug**
When you hover over any book displayed in the explore page, 2 buttons (More Details, Rate this book) appear below the book div. This causes all the divs under this block to be shifted downwards, which appears to be messy and confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kitabe-app.herokuapp.com/
2. Click on the explore button in the top right c

[2021-03-13 05:28] Praful932 commented on #72
@AnirudhPanda Thanks for your interest in the project. If you can update your issue with an example image(before/after with size) from the project itself that would be great

[2021-03-13 05:32] Praful932 commented on #73
@WaderManasi Go ahead
Something of the like
- Linux/Unix - `source bookenv/Scripts/activate`. Windows - ...

[2021-03-13 05:36] WaderManasi commented on #73
Sure.

[2021-03-13 05:38] Praful932 commented on #74
@AmrutaKoshe Good catch!
@maneprajakta Check this out

[2021-03-13 06:42] maneprajakta commented on #74
@AmrutaKoshe @Praful932
Yep seems cool to me.

[2021-03-13 06:44] maneprajakta commented on #74
@AmrutaKoshe Go ahead with this one
But before that for through **Very Important Points to be Noted** section in [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) :rocket: .

[2021-03-13 07:26] sneha-nitdgp commented on #60
Sure! Thanks for assigning.

[2021-03-13 08:24] AmrutaKoshe commented on #74
Ok sure! Thanks

[2021-03-13 08:32] Shubhrima opened #76 "Add dropdown list in navbar"
**Is your feature request related to a problem? Please describe.**
Viewing all the genres through the carousel is a bit difficult.

**Describe the solution you'd like**
Adding a dropdown list of genres in the navbar will make it easier, to get a quick view.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Additional context**
https://immense-cove-79525.herokuapp.com/  -- similar t

[2021-03-13 08:37] kanishka8276 opened #77 "Updation in contributing.md"
**Describe the bug**
Allowed_hosts=['127.0.0.1'] doesn't work in some browsers. It shows an error to add 'localhost' in Allowed_hosts.

**Expected behavior**
I expected to see the pages  but it showed errors.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I am a participant in GsSOC'21.
**Desktop (please complete the following information):**
 - OS: Windows
 - Browser :Chrome

**A

[2021-03-13 09:01] #76 closed

[2021-03-13 09:22] Greeshma2903 commented on #62
Great!
@maneprajakta I had a query regarding the steps after cloning! Since I am contributing only to the frontend part, do I still need to install virtualenv? can I just create a new branch and start fixing the issue?

[2021-03-13 09:33] maneprajakta commented on #62
@Greeshma2903
Yes as you need to view the changes you made locally right. If you don't set up a project like installing everything from requirements.txt the project won't run. You will not be able to view the changes done.

[2021-03-13 09:48] Greeshma2903 commented on #62
okay thanks!

[2021-03-13 10:12] Greeshma2903 commented on #62
Hey, when I tried installing virtualenv, it shows:
`bash: pip: command not found`

Do I need to download python env first?

[2021-03-13 11:05] maneprajakta commented on #62
@Greeshma2903 Have you installed **pip** ?
Also what OS you are using.
No issues :)

[2021-03-13 12:06] rk05-lenavo commented on #41
Could you please assign me this.

[2021-03-13 12:24] Greeshma2903 commented on #62
Windows
Nope, didn't know about **pip**, will do so

[2021-03-13 12:26] Fairspy commented on #64
@maneprajakta Great then I'll start working on pagination.
@Praful932 Did you want it to be something like this?
![Screen Shot 2021-03-13 at 17.25.19.png](https://user-images.githubusercontent.com/64915836/111029904-4ae35180-8425-11eb-8720-de077006ead2.png)

[2021-03-13 12:28] Greeshma2903 commented on #62
Sorry by mistake closed the issue😶

[2021-03-13 12:36] Greeshma2903 commented on #62
I think **python** has not come pre-installed on my OS. I was checking a guide to install it and realized that different versions of python have different requirements. Which one will I require for this project? Python 2.7 OR 3.9?

[2021-03-13 12:41] Praful932 opened #78 "KeyError"
**Describe the bug**
Production Settings causing KeyError in some systems

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Setting up Steps
2. Last step `python manage.py runserver` gives `KeyError

**Expected behavior**
The Project should have been run normally

**Screenshots**
![image](https://user-images.githubusercontent.com/45713796/111030322-85e68480-8427-11eb-8de9-3f182d2c3460.p

[2021-03-13 12:43] maneprajakta commented on #62
Yep, in windows, it doesn't come pre-installed. Go with the latest version of python.

[2021-03-13 12:51] #78 closed

[2021-03-13 12:57] kanishka8276 opened #80 "Adding a home button to go to index.html instead of using "Kitabe" to go to home."
**Describe the bug**
Clicking on Kitabe will direct you to the index page is not easily understood. Users are in a habit of using Home button. So to go to the home page they always look for the home button.

**Expected behavior**
A home button in the right where rest of the buttons are will be more user friendly.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I am a GsSOC'21 parti

[2021-03-13 12:58] Praful932 commented on #77
Hi @kanishka8276 Could you update the issue with a ss of the issue that you're facing?

[2021-03-13 13:00] Praful932 commented on #41
@rk05-lenavo This is already assigned, could you check out the starter guide for further info

[2021-03-13 13:02] Praful932 commented on #62
[CONTRIBUTING.md](https://github.com/Praful932/Kitabe/blob/master/CONTRIBUTING.md)

[2021-03-13 13:05] Praful932 commented on #64
@Fairspy yes
@maneprajakta Adding the rating button too here would be better right, incase the user wants to change the rating?

[2021-03-13 13:09] kanishka8276 commented on #77
![Screenshot (62)](https://user-images.githubusercontent.com/66053534/111030985-4883f600-842b-11eb-835f-5969b7d7183a.png)
This is the error which I got. Then I added 'localhost' to Allowed_Hosts and it worked.

[2021-03-13 13:11] maneprajakta commented on #64
@Praful932 Yes agree with you adding a rating button here will also be great.
@Fairspy also look for font size like make this card look better because it looks like a lot of white space is there.

[2021-03-13 13:15] #73 closed

[2021-03-13 13:26] Praful932 commented on #77
@kanishka8276 go ahead!

[2021-03-13 13:29] Praful932 commented on #80
@kanishka8276 Go ahead! Try to keep the icon theme consistent with other buttons :)

[2021-03-13 13:30] kanishka8276 commented on #80
Ok!

[2021-03-13 13:32] Praful932 commented on #33
@Mukta-Sawant You could open a draft PR even if it's incomplete so we know it is WIP

[2021-03-13 13:33] Praful932 commented on #35
@micksharma Could you open a draft PR with your present progress, so we know you're going in the right direction

[2021-03-13 13:34] Praful932 commented on #39
@subhangi2731 Could you open a draft PR with your present progress, so we know you're going in the right direction

[2021-03-13 13:34] #40 closed

[2021-03-13 13:34] Praful932 commented on #41
@Anurag-bhatia Could you open a draft PR with your present progress, so we know you're going in the right direction

[2021-03-13 13:35] #47 closed

[2021-03-13 13:36] #53 closed

[2021-03-13 13:36] #57 closed

[2021-03-13 13:36] Praful932 commented on #36
@vermatanu  Could you open a draft PR with your present progress, so we know you're going in the right direction

[2021-03-13 13:38] #58 closed

[2021-03-13 13:42] Greeshma2903 commented on #62
Thanks!

[2021-03-13 14:38] Greeshma2903 commented on #62
@Praful932 can I dm you the SS on discord, the env is not getting activated

[2021-03-13 15:22] khareyash05 opened #84 "update contributing.md"
Hi! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would lie to work on this as a part of GSSOC'21

[2021-03-13 15:37] Fairspy commented on #64
@maneprajakta @Praful932  Please take a look and let me know if any further changes are required.
Small screen sizes:
![Screen Shot 2021-03-13 at 20.48.06.png](https://user-images.githubusercontent.com/64915836/111035284-ba663a80-843f-11eb-8cdb-3bf45db9c673.png)
Large screen sizes:
![Screen Shot 2021-03-13 at 20.49.29.png](https://user-images.githubusercontent.com/64915836/111035321-ed103300-843f-

[2021-03-13 16:09] sneha-nitdgp commented on #60
@maneprajakta   @Praful932   Hey, I'm getting this error while setting up the project locally and trying to migrate.
raise KeyError(key) from None
KeyError: 'HOME'
Can you please help me out?

[2021-03-13 16:10] Praful932 commented on #44
I think we should class this @maneprajakta Since the icon has been added, this wouldn't look good @maneprajakta

[2021-03-13 16:11] Praful932 commented on #60
@sneha-nitdgp Update your fork, see the guide :)

[2021-03-13 16:13] Praful932 commented on #64
LGTM @Fairspy

[2021-03-13 16:15] Praful932 commented on #84
@khareyash05 We already have that covered in the [guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-03-13 16:15] #84 closed

[2021-03-13 16:24] maneprajakta commented on #44
Yep @Praful932 also we are adding a button to go top that will do great.

[2021-03-13 16:24] #44 closed

[2021-03-13 16:28] maneprajakta commented on #60
@sneha-nitdgp refer **FAQ section** in [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42).

[2021-03-13 16:29] maneprajakta commented on #64
Go ahead @Fairspy

[2021-03-13 16:30] Ankita297 commented on #50
Can i work on this ?

[2021-03-13 16:32] maneprajakta commented on #49
@AakankshaShah any updates?

[2021-03-13 16:33] maneprajakta commented on #56
@Mirnalin any updates ?

[2021-03-13 16:41] #77 closed

[2021-03-13 17:00] Praful932 commented on #50
Go ahead @Ankita297

[2021-03-13 17:03] AnirudhPanda commented on #72
Sure!

![Screenshot (115)](https://user-images.githubusercontent.com/66218496/111037717-67928000-844b-11eb-9364-b6619ddc3df8.png)

**Left** is the original PNG image whose size is _621kb_ and to the **right** is the modified WebP version whose size is _152kb_.

[2021-03-13 17:05] Praful932 commented on #72
Go ahead @AnirudhPanda

[2021-03-13 17:07] vermatanu commented on #36
Hi @Praful932 I have updated the docstrings as was required for this issue and have opened a pull request. Please review and let me know the necessary changes, as needed.

[2021-03-13 18:52] Fairspy commented on #64
Great, I'll start working on it.

[2021-03-13 19:27] anjali494 commented on #56
@maneprajakta I am a GSSOC'21 participant and i would like to work on this feature. Can you please assign this to me?
I plan to do the following to implement this feature:
1. add a wishlist button on the header
2. add a 'add to wishlist' button on the dialogue box that appears after clicking on 'More Details'.

[2021-03-13 19:28] sneha-nitdgp opened #89 "DEBUG variable in production"
**Describe the bug**
Debug is set as true in `settings.py`. This may cause security vulnerabilities.

**Describe the solution you'd like**
set `DEBUG = False`

**Are you willing to contribute to this issue? [Yes/No]**
Yes, I want to contribute to this issue as a part of GSSOC'21.

**Desktop (please complete the following information):**
- OS: Windows
- Browser : Chrome

**Screenshots**
![kitabe](h

[2021-03-13 19:44] anjali494 opened #90 "Improve UI for book list under different genre"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The Book Title for some books overflows the text box which makes the page look messy and confusing.
Also, when you hover over the picture, it slightly enlarges which makes it look like a clickable element.

**Describe the solution you'd lik

[2021-03-13 19:52] kanishka8276 opened #91 "Migration bug in setting up commands"
**Describe the bug**
Make migrations comment shows error when ran without making the mentioned changes in settings.py.
So in contributing.md we have to move the make migrations step after the step to make changes in settings.py

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I am a GsSOC'21 participant.
**Desktop (please complete the following information):**
 - OS: Windows
 - Brow

[2021-03-14 03:08] subhangi2731 commented on #39
sure I will @Praful932 I am working on this but I had a doubt where can I reach U?

[2021-03-14 03:25] Mirnalin commented on #56
@maneprajakta I'll be adding a save for later button along with "more details" and "rate this book" buttons.
Along with it I'll add a wishlist button (to check out the list of saved books) in the header.

[2021-03-14 04:42] maneprajakta commented on #89
@Praful932 what you say ?

[2021-03-14 04:49] maneprajakta commented on #90
@anjali494 Please follow the issue template while creating an issue.
I have edited the issue description update accordingly.
Check this #58  what we aspect in an issue template.
If you update we will assign this to you.

[2021-03-14 04:50] maneprajakta commented on #91
@kanishka8276 Go ahead with this one.

[2021-03-14 05:16] Praful932 commented on #39
Hi @subhangi2731 you can either reach out on GSSOC Discord/start a new [discussion](https://github.com/Praful932/Kitabe/discussions/new) here

[2021-03-14 05:20] Praful932 commented on #56
@Mirnalin wouldn't the intention/functionality of save for later & wishlist button almost be the same?

[2021-03-14 05:25] Praful932 commented on #89
@sneha-nitdgp Would request you to please follow the issue template, refer any other issues and update the PR Description :)
Then I can assign it to you
you can add this line `DEBUG = False` in the condition [here](https://github.com/Praful932/Kitabe/blob/master/BookRecSystem/settings.py#L190)

[2021-03-14 05:28] Praful932 commented on #90
@anjali494 If you could attach a SS what is happening & what you expect, that would make the issue clearer

[2021-03-14 05:34] #91 closed

[2021-03-14 05:34] Mirnalin commented on #56
yep, i was just using the two phrases for the same thing  @Praful932

[2021-03-14 05:49] Praful932 commented on #56
Alright, we can have a wishlist button button in the modal that comes up from search, It would be nice if you could make a mockup of the modal UI that you wish to make, you'll also have to make necessary modal connected with user in backend and also a separate page for the same
@maneprajakta what do you think should we keep a separate page for this or put it into Library which is being created by

[2021-03-14 05:58] maneprajakta commented on #56
@Praful932 separate page would be better as #64 is for books which are rated by the user but wishlist is something which user wants to read.

[2021-03-14 07:41] Fairspy commented on #56
@Praful932 @maneprajakta  I actually have a suggestion for this we could add two buttons below the library heading with read and saved for later and with javascript we can make it so that clicking on one would show that part of the html file as I was thinking having too many links on the header would make it feel crowded.

[2021-03-14 08:15] anjali494 commented on #90
@maneprajakta @Praful932 i edited the issue to make it more precise. Please check it out.

[2021-03-14 08:19] simranbhalla3 commented on #80
I am a gssoc'21 participant can i work on this issue?

[2021-03-14 08:21] simranbhalla3 commented on #72
hii, Can you please assign thi sissue to me, i am a gssoc participant and would love to work on this issue

[2021-03-14 08:21] simranbhalla3 commented on #30
I am participant in GSSOC'21.Can you please assign this to me? @Praful932

[2021-03-14 09:22] n-coder2k commented on #41
I want to work on this issue.

[2021-03-14 10:03] Anurag-bhatia commented on #41
@Praful932  sir, i dont know how to get started , i am very new in this.

[2021-03-14 13:14] maneprajakta commented on #80
@simranbhalla3 It's already assigned to someone . Go through our [Guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-14 13:16] lavanya243 opened #96 "Create a Fixed Header on Scroll"
Hey @Praful932, @SandeepKrSuman @Abg4real  , I am Lavanya Narayanan, a GSSOC, 2021 participant.
I want to create a fixed header on scroll, ie., whenever we scroll down the page, the header section remains fixed.

I would like to request you to kindly assign me this problem.

[2021-03-14 13:17] maneprajakta commented on #30
@simranbhalla3 Go ahead with this one :rocket:
Please go through our [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help you a lot in contributing to this project.

[2021-03-14 13:24] maneprajakta commented on #90
@anjali494 what I could get is that you want to change the design of the genre book card to what is it on explore page.
Or anything else?

[2021-03-14 13:32] maneprajakta commented on #96
we don't need this feature as issue #63 will solve this problem.

[2021-03-14 13:32] #96 closed

[2021-03-14 14:21] Mirnalin commented on #56
@Praful932  @maneprajakta  so assign it to me as GSSoC'21 participant.

[2021-03-14 15:21] Praful932 commented on #56
Agree with @Fairspy You can add `Read` & `Saved`, and clicking on them, would lead to respective pages, @Mirnalin you can make it similar what is being done in #64

[2021-03-14 15:27] cryptofox17 commented on #43
@Praful932  I am ready to make a PR for this issue but before that I wanted to ask if what I did is what you expected.

I added the code for preloader in the index.html ensuring to use cookies. So if a user visits the website they'd be able to see it, but if they go to some other page or click on the logo to return to home page they wouldn't be able to see it.
Is that enough?

[2021-03-14 15:34] Praful932 commented on #43
@cryptofox17 Yes, that's perfect from your description. If there any changes we will let you know in the PR :)

[2021-03-14 17:12] anjali494 commented on #90
@maneprajakta yes, it would solve the above mentioned issue.

[2021-03-14 17:19] #63 closed

[2021-03-15 03:46] maneprajakta commented on #90
@anjali494 We don't want the card design to be changed for the genre page. If you could suggest other alternatives like one could be fixing the no of lines to be displayed for book name.

[2021-03-15 05:48] Tarun-Kamboj commented on #90
Yes @maneprajakta, we should limit the text displayed on both `genre` and `explore` pages so that it don't exceed to the point where it starts looking bad.
And regarding the enlargement of the image on hover, we can open the `details`  box when user clicks the image as it is a common practice to click on the image to know more about it.
@Praful932 I'd like to give this a go.

[2021-03-15 13:35] Tarun-Kamboj commented on #90
@Praful932, @maneprajakta Can you assign this issue to me? I'm a GSSOC21 participant too.

[2021-03-15 16:30] anjali494 commented on #90
@maneprajakta we can add a feature that if the name of the book exceeds a number of characters, we can use ...

[2021-03-16 03:31] maneprajakta commented on #90
@anjali494 got for it then.

[2021-03-16 03:33] maneprajakta commented on #90
@Tarun-Kamboj thanks for showing interest.
Readout guidelines that we follow [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-16 03:37] maneprajakta commented on #33
@Mukta-Sawant no updates from your side.

[2021-03-16 03:38] maneprajakta commented on #35
@micksharma no updates from your side.

[2021-03-16 03:42] maneprajakta commented on #39
@subhangi2731 any updates?

[2021-03-16 03:43] maneprajakta commented on #41
@Anurag-bhatia any updates?

[2021-03-16 03:45] maneprajakta commented on #48
@ketakitankk any updates?

[2021-03-16 03:46] maneprajakta commented on #49
No updates received.

[2021-03-16 03:46] #49 closed

[2021-03-16 04:01] ketakitankk commented on #48
Yes please give me time till noon I shall present the second mockup!
Sorry for the delay!

[2021-03-16 05:29] Praful932 commented on #38
@saaalik Any updates?

[2021-03-16 09:00] ketakitankk commented on #48
Here is the second mockup, I have maintained the webpage element's placing, I have just added some font changing ideas, some color and change in some icons. Please have a look and let me know!
Thank you for your  co-operation! @maneprajakta

![mockup 2](https://user-images.githubusercontent.com/65545601/111282491-114c5980-8664-11eb-84e3-dfd46142d62f.png)

[2021-03-16 10:29] anumshka opened #103 "[GSSOC'21]Introductory Quiz"
**Is your feature request related to a problem? Please describe.**
Sometimes, It is not always the case that we know about all the genres .A quick guide to this would be better.

**Describe the solution you'd like**
I would like to add a short quiz for the selecting a genre.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

Please assign this to me.
Thankyou.

[2021-03-16 11:14] maneprajakta commented on #48
@ketakitankk
All ideas suggested in the mockup are great :rocket: .
But it would be a big issue if you start working on it as a whole.
I would suggest you, go first for color scheme updation and then for other changes.
what you say @Praful932

[2021-03-16 12:38] ketakitankk commented on #48
@maneprajakta please let me know, as to when I can start working on the issue! Thanks a lot 😊

[2021-03-16 15:52] saaalik commented on #38
To print outputs of the jupyter files and work on the tf-idf script and similar-genre script, I proceeded to install jupyter notebooks on my system but I wasn't able to do the same for some reason, It took me 2 days to give up on jupyter. Now instead i copied the script in my system locally with all the drive files used and printed results on each step and tried changing some books.csv inputs to s

[2021-03-16 16:15] mohammedjameel24 opened #104 "DARK MODE UI"
## Dark Mode UI

[2021-03-16 16:36] PandeySomya77 opened #105 "Contributing details"
I can't find contributing details in the readme file

[2021-03-16 16:37] PandeySomya77 commented on #105
Can I work on this issue?

[2021-03-16 17:41] mohammedjameel24 commented on #41
Please assign me this issue

[2021-03-16 17:43] mohammedjameel24 opened #106 "Site loading Optimization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As soon as we address the site it loads the ui elements quicker than the main bg-image and other graphic components of website ,makes it look less Optimizated

**Describe the solution you'd like**
A clear and concise description of what yo

[2021-03-16 17:53] Praful932 commented on #103
@anumshka Could you elaborate, quiz as in?
Check out the starter [guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-16 18:06] Praful932 commented on #48
@ketakitankk UI looks nice, but I believe this would be a really big change.
We would need a detailed mockup of off the latest [application](https://kitabe-app.herokuapp.com/),
From what I observe from the present mockup, you're mostly changing the color scheme and the font scheme and minimal strucuture, If you could provide a more detailed mockup for the application, with all the correct colors,f

[2021-03-16 18:10] anumshka commented on #103
A Quiz using html,css and javascript which asks a number of questions to the user regarding the book genre.For example,one may not know what is historic fiction,or Memoirs..or any simple genre as well.We may help the user to choose a genre even if he/she does not know how to name it.Based on the answers of his/her likes/dislikes in the quiz,we may suggest a particular genre to the person.

[2021-03-16 18:10] ketakitankk commented on #48
Sure, could you maybe suggest me a good mock-up creating tool, in order to incorporate all my changes in one prototype? This is my first time making mock-ups! 😃

[2021-03-16 18:12] Praful932 commented on #38
@saaalik You can start a [discussion](https://github.com/Praful932/Kitabe/discussions/new) if you are facing any trouble or reach out on project discord :)
yes if there are 2n remaining books, **take n from top n tf-idf** and **take another top n from majority genre** from user's already rated books and the recommendations

[2021-03-16 18:18] Praful932 commented on #104
Hi @mohammedjameel24 check out the [starter guide ](https://github.com/Praful932/Kitabe/discussions/42) :)
There's already an issue regarding this #41

[2021-03-16 18:18] #104 closed

[2021-03-16 18:19] Praful932 commented on #105
Hi @PandeySomya77 check out the [starter guide ](https://github.com/Praful932/Kitabe/discussions/42) :)
There's already a [CONTRIBUTING.md file](https://github.com/Praful932/Kitabe/blob/master/CONTRIBUTING.md)

[2021-03-16 18:19] #105 closed

[2021-03-16 18:20] Praful932 commented on #106
Please follow the PR template.

[2021-03-16 18:26] mohammedjameel24 commented on #106
Now @Praful932

[2021-03-16 18:58] Anurag-bhatia commented on #41
@Praful932 kindly unassign me from this issue, i am not able to do this.

[2021-03-16 19:27] mohammedjameel24 commented on #41
Assign me @Praful932

[2021-03-16 22:20] 435akashjha opened #107 "Creating Filter options in book searching options"
**Is your feature request related to a problem? Please describe.**
[and](url
![Screenshot 2021-03-17 034344](https://user-images.githubusercontent.com/49565671/111387050-22807f00-86d3-11eb-83e1-bdda7b2e2516.png)
In the book search section if there can be filter for finding different types of books such as self-help, comic , personality development, communication skills..etc

**Describe the solutio

[2021-03-17 03:48] maneprajakta commented on #103
@anumshka could you elaborate on how to implement it and when will it be visible to the user. Also, how will you implement it?

[2021-03-17 04:08] maneprajakta commented on #41
@mohammedjameel24 It's a UI/UX change please go through **Very Important Points to be Noted** in our  [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42).

[2021-03-17 04:24] maneprajakta commented on #107
@435akashjha Could you elaborate on how you aim to implement it?

[2021-03-17 04:29] maneprajakta commented on #106
@mohammedjameel24 edited your PR description fill it accordingly.

[2021-03-17 04:32] maneprajakta commented on #50
@Ankita297 you can draft a PR for whatever changes you have done till now. so that we review it.

[2021-03-17 04:33] maneprajakta commented on #56
@Mirnalin any updates?

[2021-03-17 04:35] maneprajakta commented on #60
@sneha-nitdgp Make PR for changes done till now.So that we know whether you are going right.

[2021-03-17 04:37] Ankita297 commented on #50
Okay mam . I will make the PR .

[2021-03-17 04:40] maneprajakta commented on #50
@Ankita297 go through our [Satret Guide](https://github.com/Praful932/Kitabe/discussions/42) it's a UI/UX change first you need to present a mockup.

[2021-03-17 04:45] Ankita297 commented on #50
![Sign Up - Google Chrome 17-03-2021 10_14_18](https://user-images.githubusercontent.com/67833077/111416283-9d648c80-8709-11eb-8174-e47ad6d66571.png)

[2021-03-17 04:47] Ankita297 commented on #50
Mam i am also going to   do some changes in form also ,in button styling .

[2021-03-17 04:53] maneprajakta commented on #50
@Ankita297 no need to call ma'am :)
Also, you need to do some changes in the login form as they should match.
So, do all changes then make a PR. We just wanted to take an update.

[2021-03-17 04:55] Ankita297 commented on #50
okay @maneprajakta  i will  do the same.
Is  above changes are okay .

[2021-03-17 04:56] maneprajakta commented on #48
@ketakitankk [check this](https://www.figma.com/) for mock up.

[2021-03-17 05:14] maneprajakta commented on #50
Seems great to me :rocket: till now.

[2021-03-17 05:50] 435akashjha commented on #107
I can create a dropdown list named as 'Category' and in that dropdown list ,input fields can be created of self help, personality development, communication, startup books using html, css and js

[2021-03-17 06:16] Praful932 commented on #107
@435akashjha We already have pages for each genre, would your change be search for genre as well as books? & If I click on genre then it will redirect to genre page
Is that what you mean

[2021-03-17 06:32] 435akashjha commented on #107
The basic idea here to create this issue that user can find the books of choices by a category very easily .
eg: On this website when we search for job openings it contain filter options like this .
[
[
![Screenshot_2021-03-17-11-59-33-14](https://user-images.githubusercontent.com/49565671/111425081-a14bdb00-8718-11eb-85b0-49bc0e988c21.jpg)
](![Screenshot_2021-03-17-11-59-33-14](https://user-image

[2021-03-17 10:00] Upasana1216 opened #109 "The book containers are showing clickable hover"
The book container is showing a clickable hover. Instead, only rate this book, and more details should show a clickable pointer. I would like to fix this issue please assign this to me.

[2021-03-17 10:02] Upasana1216 opened #110 "Improve sign up page"
Sign up page is very simple we can make it more attractive.
I would like to work on this please assign this to me.

[2021-03-17 11:03] Sweeti-Gupta opened #111 "Adding a Search Icon in the Search bar"
**Is your feature request related to a problem? Please describe.**
No, my feature request is not related to any problem. It's about making the page more attractive.

**Describe the solution you'd like**
I want to add a "Search Icon" in the "Search Bar" to give a better look to the project.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe alternatives you've considered**
A

[2021-03-17 12:37] maneprajakta commented on #109
@Upasana1216 please follow the issue template for creating an issue.

[2021-03-17 12:38] maneprajakta commented on #110
@Upasana1216 we already have an issue working on this #50

[2021-03-17 12:38] #110 closed

[2021-03-17 12:41] maneprajakta commented on #111
@Sweeti-Gupta Please follow the issue template for creating an issue.

[2021-03-17 12:42] maneprajakta commented on #107
@435akashjha we already have a genre section which gives user option to explore by genre.

[2021-03-17 15:32] ASHISH-GITHUB2495 opened #114 "We can add "Get in touch section" in the footer."
**Features that we can add**
We can have a footer with Get in touch section ... you have option to fill name, email and message which will go directly to the admin.
Like the screenshot i have attach ...
if you like the idea I would like to contribute as GSSOC'21 participant.

**Screenshot**
![Screenshot (15)](https://user-images.githubusercontent.com/57385079/111493981-1690cd80-8764-11eb-97b4-b61d

[2021-03-17 18:49] Praful932 commented on #114
@ASHISH-GITHUB2495 Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) :)
We already had similar issues #59

[2021-03-17 18:49] #114 closed

[2021-03-17 18:57] Praful932 commented on #107
@435akashjha exactly what @maneprajakta said, If you mean a feature for user to search and navigate to a genre, please elaborate or show a mockup how & where it will be

[2021-03-17 19:22] Sweeti-Gupta commented on #111
**Is your feature request related to a problem? Please describe.**
No, my feature request is not related to any problem. It's about making the page more attractive.

**Describe the solution you'd like**
I want to add a "Search Icon" in the "Search Bar" to give a better look to the project.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe alternatives you've considered**
A

[2021-03-17 20:57] Raghad-Khaled opened #116 "Improve The SEO (page speed)"
**Describe the bug**
the load speed of the pages is not the best speed it can be improved by decrease the image sizes and keep the image resolution too

# speed of the page
<img width="753" alt="Pgspeed" src="https://user-images.githubusercontent.com/60848147/111536894-7cd11c80-8773-11eb-9e9e-474493303d15.PNG">

# decrease the images sizes improve its speed
<img width="734" alt="images" src="https

[2021-03-18 03:07] maneprajakta commented on #111
Go for it @Sweeti-Gupta.
Before starting go through [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help you in contributing to the project.

[2021-03-18 03:14] maneprajakta commented on #116
@Raghad-Khaled Thanks for showing interest. Please follow the issue template for creating an issue. Then only we can move forward.

[2021-03-18 03:28] maneprajakta commented on #89
@sneha-nitdgp are you working on this?

[2021-03-18 03:30] maneprajakta commented on #103
@anumshka any updates?

[2021-03-18 04:49] #80 closed

[2021-03-18 07:30] anumshka commented on #103
Like a set of 2-3 mcqs per genre..then calculating the marks for each genre..Storing them..and the winner is the genre with the highest points.We may give them some situations as well in the mcqs but it would be short and concise.
Really sorry for responding late.
Thankyou.

[2021-03-18 08:42] sneha-nitdgp commented on #89
@maneprajakta Yeah, but I'm facing certain troubles. Please give some more time.

[2021-03-18 10:56] fatma-sia27 opened #119 "Create Contact us page"
Hey, I think there must be a "Contact Us" page in the nav bar so that anyone who wanted to work with you all like if anyone wants to be a front-end developer of your website "Kitabe" then they can easily contact you all through the contact form . Also if any viewer want to ask some questions about any book or author then they can contact you easily. I think this would be good for your websitw, if

[2021-03-18 13:02] Sweeti-Gupta commented on #111
@maneprajakta Ok Ma'am! Thank you for assigning.

[2021-03-18 13:36] Praful932 commented on #119
@fatma-sia27 We had a similar issue #45

[2021-03-18 13:36] #119 closed

[2021-03-18 13:40] Praful932 commented on #103
@anumshka Where would you be displaying it? Could you show us a mockup?

[2021-03-18 14:35] maneprajakta commented on #89
@sneha-nitdgp  No issues

[2021-03-18 17:54] #106 closed

[2021-03-18 18:28] Praful932 commented on #38
@saaalik Any updates?

[2021-03-18 18:28] Praful932 commented on #41
@mohammedjameel24 Any updates?

[2021-03-18 18:31] mohammedjameel24 commented on #41
I have problem running it locally

[2021-03-18 19:33] ambivert-sam commented on #111
@maneprajakta mam can you please assign this issue to me?

[2021-03-18 19:35] ambivert-sam commented on #30
@Praful932  I would like to work with this issue . Can you please assign it to me?

[2021-03-18 19:37] ambivert-sam commented on #50
@WaderManasi can work on this issue? Please assign it to me

[2021-03-19 02:50] maneprajakta commented on #111
@ambivert-sam Thank you for showing interest but the issue is already assigned to someone.

[2021-03-19 02:51] maneprajakta commented on #30
@simranbhalla3 Make a PR for changes done by you till now.

[2021-03-19 02:53] maneprajakta commented on #50
@ambivert-sam check out [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-19 03:34] maneprajakta commented on #62
@Greeshma2903 any updates?

[2021-03-19 03:34] #107 closed

[2021-03-19 03:36] #109 closed

[2021-03-19 03:44] #116 closed

[2021-03-19 05:13] Greeshma2903 commented on #62
I would like to apologize for the delay (due to exams), but work is in progress😅
I made some changes, and the carousel now works something like this (shown in video)
https://www.loom.com/share/3ddc356773a14b73a5aa8e4de8c2ea50
I was not able to figure out how I can move the carousel forward by 1 block (Since Bootstrap doesn't provide a multi-image sliding option), so decided on doing 3 blocks at a

[2021-03-19 07:21] saaalik commented on #38
I am making changes in this snippet
[code]
here 2n = ( recommendations - len(best_bookids) )
then, I am converting it to:
[code]

[2021-03-19 08:29] shikha-16 opened #122 "Activating Environment on Linux"
**Describe the bug**
When trying to activate the environment, I faced an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Contributing.md](https://github.com/Praful932/Kitabe/blob/master/CONTRIBUTING.md)'
2. Scroll down to 'Setting up the Project'
4. See error in

Activate the environment -

For Linux/Unix OS : source bookenv/Scripts/activate
For Windows OS: bookenv\Scripts\act

[2021-03-19 10:09] maneprajakta commented on #62
@Greeshma2903 No issues.
It's ok if you go by 3 blocks at a time.
Yep seems fine to me :100:

[2021-03-19 10:16] maneprajakta commented on #122
@shikha-16 plz follow the issue template for creating an issue.
I have edited your issue description fill it accordingly.

[2021-03-19 10:18] sandipswain commented on #41
@Praful932 I am a participant of GSSoC'21.I would love to work on this issue using JavaScript

[2021-03-19 10:56] simranbhalla3 commented on #30
Successfully Made the changes and Created the PR. @maneprajakta

[2021-03-19 15:07] Praful932 commented on #111
@ambivert-sam Go through the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-03-19 15:08] Praful932 commented on #38
@saaalik Could you explain the approach, and add the comment above the code not beside

[2021-03-19 15:13] Praful932 commented on #62
@Greeshma2903 No problem.
Also it's alright to open a WIP PR, and push commits so we can also track the progress :)

[2021-03-19 16:15] shikha-16 commented on #122
I have done so, please review @maneprajakta

[2021-03-19 16:27] maneprajakta commented on #122
@shikha-16 Go ahead with this one.

[2021-03-19 17:22] mohammedjameel24 commented on #41
Am not able to set virtual env
And start the deployment server

[2021-03-19 18:36] #122 closed

[2021-03-19 18:45] Praful932 commented on #41
@mohammedjameel24

[2021-03-19 19:01] #60 closed

[2021-03-20 06:58] maneprajakta commented on #48
@ketakitankk any updates?

[2021-03-20 07:00] maneprajakta commented on #90
@anjali494 draft a PR for changes done till now.

[2021-03-20 07:00] #103 closed

[2021-03-20 08:38] subhangi2731 commented on #39
Hello I was out of station I was not able to communicate and reach out to u can u please reassign me I will send the pr by today

[2021-03-20 12:22] #74 closed

[2021-03-20 14:41] ketakitankk commented on #48
@maneprajakta sorry, but if you can give me time till Thursday, I can present it then, or if the issue is to be given to others, you may. Due to unavoidable circumstances, I won't be able to present before Wednesday. Sorry for the inconvenience.

[2021-03-20 16:15] Rhutwi opened #128 "Book Series Page"
**Is your feature request related to a problem? Please describe.**
As a fan of books in series it is hard to find the next part in a series novel or even get a list of a particular order in which the series goes.Also it hard to say from the book if it is series or a single book.The reader only gets to know that after reading.

Another problem that i think me and other avid readers face is finding

[2021-03-20 16:18] knmehta12 opened #129 "Using description to find similar books"
**Is your feature request related to a problem? Please describe.**
It's not a problem . I just think that titles and genres provide a foundation for the recommendation system and description of a book can be added as a feature that also determines if other books are similar

**Describe the solution you'd like**
I'd like to implement a cosine similarity using book descriptions/plots to make the sys

[2021-03-20 16:50] maneprajakta commented on #111
@Sweeti-Gupta any updates?

[2021-03-20 16:59] maneprajakta commented on #128
@Rhutwi
- The idea of having a page devoted to books with series seems nice to me.
- Not clear about spoiler page and also book with bad and sad end what you mean can you elaborate?
Also, you need to think about how you aim to implement it.

[2021-03-20 17:10] saaalik commented on #38
Okey, so the variable `two_n` stores the total number of books remained to be recommended, out of which
half of the bookids would be retrieved from remaining cv_bookids - `tf_idf_bookids`
and other half from other `sim_genre_bookids` which will take two lists as parameters
1. `already_rated_bookids = {bookid1, bookid2, bookid3}` (The `already_rated_bookids` variable currently stores book ratings w

[2021-03-20 17:26] maneprajakta commented on #129
@knmehta12 have you gone through the [dataset](https://github.com/zygmuntz/goodbooks-10k) we don't have book description in the dataset.We have [function](https://github.com/Praful932/Kitabe/blob/0fb9a735afb787a3674aec5a8ec8d0dfae648d34/templates/mainapp/layout.html#L184) which gives book summary.

[2021-03-20 18:32] Praful932 commented on #38
You're correct for fixing `1.`
[code]
I think there should be a `+` here.
For `2.` Better would be finding common genre in already rated books as well instead of just recommendations
Otherwise all feels good to me

[2021-03-21 01:09] SalmaZakaria commented on #56
@Mirnalin Could you assign this issue to me please?

[2021-03-21 01:18] SalmaZakaria opened #130 "Link Each Book to Wikipedia"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to add a link to each card of the book to link it to a Wikipedia page that talks about it, to let the user know more about it.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, I am GSSOC'21 Participant.

[2021-03-21 04:40] maneprajakta commented on #130
@SalmaZakaria Idea seems cool to me.
Can you elaborate on how you aim to implement this?

[2021-03-21 04:43] maneprajakta commented on #56
@SalmaZakaria you can go ahead with this . Before that, if you could explain how you aim to do this?

[2021-03-21 05:06] Mirnalin commented on #56
@maneprajakta i'm working on it, it will take a while

[2021-03-21 05:11] Praful932 commented on #56
@Mirnalin Since there was no response so we had to unassign you
@SalmaZakaria There's an ongoing feature #100 , and we would like it to all come under library, clicking on library will have two options already read books & wishlist, and clicking on any of them will redirect to that page.
You can elaborate your implementation details so we know you're on the same page

[2021-03-21 05:20] Mirnalin commented on #56
@Praful932 sorry actually due to some mishappening in the family I couldn't update.
I'm working on it, please assign it to me again.

[2021-03-21 05:30] Praful932 commented on #56
Sorry to hear that, Hope you're well. Due to the nature of open source, the issues are assigned on a FCFS basis, and since no one was assigned, the issue was up for grab. There are a lot of [unassigned issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) that you can take up. And we are happy to answer any doubts, you can open up a new discussion in the [forum ]

[2021-03-21 05:54] knmehta12 commented on #129
Yes I saw the dataset, my original issue was going to be adding description to books. But since we have that already, we can make a table, or add a column for this and then use it in the algorithm, right?
Should I change anything in this approach?

[2021-03-21 06:17] Sweeti-Gupta commented on #111
@maneprajakta Working on it.

[2021-03-21 06:21] RahulBansal0502 commented on #130
We can do two things in it. First, we can refer the user to Wikipedia where he/she can get more about it. Secondly, we can contact any e-commerce company like Amazon or Flipkart where we refer the user to these platforms if he/she wants to buy a book.

[2021-03-21 06:25] RahulBansal0502 opened #131 "UI Home Page"
I want to change the UI of the home page. Like text style, footer also there are many colours are used on the home page so limit them. For the home page mainly use colours that are in the logo of the organisation or mainly 2-3 colours. Please assign this issue to me I am a GSSOC participant.

[2021-03-21 09:01] ShambhaviSharma0110 opened #132 "Adding a 404 page"
**Is your feature request related to a problem? Please describe.**
I would like to add a 404 page

**Describe the solution you'd like**
404 page will be displayed every time a path that is unknown is entered.

**Are you willing to contribute to this issue?** Yes

**Describe alternatives you've considered**

**Additional context**
Once approved I would upload a screenshot as well

[2021-03-21 09:14] Rhutwi commented on #128
Sure i'll work upon the series page and  about the spoiler page it is for people who want to know the ending before reading the book.Only for those people we can show the ending in one line description.of course the page will be separate and will be named spoilers.

[2021-03-21 17:40] Sristi27 opened #136 "Navbar and Authentication Form UI Change"
Hello,

I would like to work on the navbar UI and also on modifying the Signup / Login Form.
Kindly assign this issue to me!

[2021-03-21 19:32] SalmaZakaria commented on #56
@Mirnalin How can I go ahead without assigning it to me?
Is this Possible?

[2021-03-21 19:37] SalmaZakaria commented on #130
@maneprajakta
In every book card, there will be a link to direct it to the page it talks about it, it will be updated in the Html file of the project

[2021-03-21 19:39] SalmaZakaria commented on #56
@Praful932 I will add a page with Cards containers wished books only and I haven't found this on issue #100
So Can you assign this to me to start implementing it?

[2021-03-22 02:44] maneprajakta commented on #128
@Rhutwi
It's a big issue
- If you go for the series page could you tell us how you will do this same for the spoiler page ?

[2021-03-22 02:51] maneprajakta commented on #130
@SalmaZakaria we think that adding the reference to other sites will decrease time spent by users on our website. So, closing the issue.

[2021-03-22 02:51] #130 closed

[2021-03-22 02:54] maneprajakta commented on #131
@RahulBansal0502 we already have  issues #48 and #90 for the same check that you can take them

[2021-03-22 02:54] #131 closed

[2021-03-22 02:57] maneprajakta commented on #129
@knmehta12
so we get a column with a book description after that in what way you will proceed further?
Assigning you for this.

[2021-03-22 03:05] maneprajakta commented on #136
@Sristi27 plz follow issue template for creating an issue. Then only we can move forward.

[2021-03-22 04:25] Praful932 commented on #132
@ShambhaviSharma0110 +1 if you put in a page like [this](https://freefrontend.com/html-funny-404-pages/), in accordance with the theme of the website

[2021-03-22 04:44] Praful932 commented on #56
Assigned you @SalmaZakaria
You can implement a similar page as #100 , and link in dropdown when Library is clicked, one would be Wishlist and another would be Your books. Check the PR associated with that issue for more details

[2021-03-22 04:57] Praful932 commented on #128
@Rhutwi I'm still not clear about the spoilers page, What exactly will you be showing there and from where?

[2021-03-22 05:13] Praful932 commented on #129
@knmehta12 Could you detail out your implementation details, How will you be doing this exactly?

[2021-03-22 06:37] Rhutwi commented on #128
Okay sure should i work upon the series page first then? As for the spoiler page i just have this idea that we can fetch the ending of each book and show it as spoiler for those who want to know the ending.
I can do the spoiler page afterwards but should i start with series page?

[2021-03-22 09:21] knmehta12 commented on #129
Hello. I haven't figured that out in too much detail. But like you've used titles [here](https://colab.research.google.com/drive/1LRr4Nm2I2HRJUTXbRea3sK5A1Bvp_lav), to get recommendations, the same way (using cosine similarity), I want to use description/summary to get similar books. Is that alright?

[2021-03-22 12:39] Sristi27 opened #137 "Tooltip & Icon Fix"
**Is your feature request related to a problem? Please describe.**
The navbar icons can be made to look better and also the login/signup form.

**Describe the solution you'd like**
The icons in the navbar look bigger and not appealing to the user.Also,the signin signup pages can be made more attractive.It has a lot of vacant space which can be used to add relevant images or inspire the user to act

[2021-03-22 12:49] dsrao711 opened #138 "Improvising Navbar"
The Navbar can be improved
Current :
![image](https://user-images.githubusercontent.com/59830064/111991715-9f2fb500-8b3a-11eb-8ade-258f742e18b0.png)
We can improvise it by adding the icon beside the text . Please check the example below:
![image](https://user-images.githubusercontent.com/59830064/111992068-02214c00-8b3b-11eb-882e-88e0692bb52b.png)

I would to like to work on this issue as a GSSOC

[2021-03-22 16:21] Praful932 commented on #128
@Rhutwi I don't think we would need a spoilers page, doesn't really match with our goal. You can do the series page, but we would need details on how you would implement that, we already have a lot of separate pages for books

[2021-03-22 16:25] Praful932 commented on #129
@knmehta12 Yes you can, the problem with the book summary is that there are certain bugs since it is scraped, you can use that(would need a fix), also the results need to be convincing when description is used and better than the title approach

[2021-03-22 16:32] Praful932 commented on #137
@Sristi27 We already have a ongoing PR for signup,login page #108, Could you add some examples of how the navbar icons will be improved

[2021-03-22 16:32] Praful932 commented on #138
@dsrao711 Please follow issue template, have a look at other issues

[2021-03-22 16:37] Sristi27 commented on #137
@Praful932

Instead of adding a name below each icon,we can show it on tooltip,that would reduce the height of the navbar as well and the icons could be made a bit smaller.

Also after getting the searched book the form could be reset to original.

Also,a search icon could be added in the search box with the inner padding reduced a bit.

[2021-03-22 17:17] Rhutwi commented on #128
Okay sure i will drop the idea of spoilers.
For series page i will add tag for books that are in series.The goodreads API allows us to see if all series by an author and if a book is in a series. i'd like to extract that information and add that as a tag, and all books with that  tag will have a seperate page.

Do you think i should change anything about this approach? If not please assign me this

[2021-03-23 03:25] maneprajakta commented on #137
@Sristi27 go ahead with this one.
Also before starting go through Very Important Points to be Noted section in [Satrter Guide](https://github.com/Praful932/Kitabe/discussions/42).
- First show us a mockup and also maintain the theme of website.

[2021-03-23 03:29] maneprajakta commented on #138
@dsrao711 we alreadu have a issue for same #137

[2021-03-23 03:29] #138 closed

[2021-03-23 03:30] maneprajakta commented on #136
@Sristi27 we already have issue for same #108

[2021-03-23 03:30] #136 closed

[2021-03-23 03:47] maneprajakta commented on #39
@subhangi2731 any updates?

[2021-03-23 03:47] maneprajakta commented on #41
@mohammedjameel24 any update?

[2021-03-23 03:48] maneprajakta commented on #89
@sneha-nitdgp any updates?

[2021-03-23 04:17] Praful932 commented on #128
@maneprajakta Wdyt, we wouldn't want to crowd the navbar more, need to think if we can do it in an existing page

[2021-03-23 04:20] #64 closed

[2021-03-23 07:51] simranbhalla3 commented on #137
Hi i am a gssoc participant , can i work on this issue? I have experience in css and js

[2021-03-23 08:56] prerna2712 commented on #132
Can I work on this?

[2021-03-23 10:54] maneprajakta commented on #128
@Praful932 yep.
@Rhutwi what you can do is add a button or something like that in the book card itself which we currently have which will be visible when for a book if that book occurs in a series. On clicking that it would open up a page with all books in series of that.

[2021-03-23 11:21] maneprajakta commented on #132
@ShambhaviSharma0110 are you going to work on this?

[2021-03-23 11:22] maneprajakta commented on #137
@simranbhalla3 thank you for showing interest the issue is already assigned. Meanwhile, you can check other issues which are unassigned.

[2021-03-23 11:38] Rishita0606 commented on #132
Hello! I am interested to work on this issue if it isn't assigned yet.

[2021-03-23 11:39] knmehta12 commented on #129
I actually found a library called isbnlib that gives a small description of the book so that works right?

[2021-03-23 14:07] Rhutwi commented on #128
Sure i can do that.... That sounds good. Can i implement that @Praful932 ?

[2021-03-23 18:53] Praful932 commented on #129
Yea, go ahead, instead of removing the current title approach we can add it to the current recommendation approach

[2021-03-23 18:56] Praful932 commented on #128
Yes, that would be nice, go ahead @Rhutwi Check out the [guidelines ](https://github.com/Praful932/Kitabe/discussions/42) first and then start
Happy hacking :)

[2021-03-23 20:00] Sristi27 commented on #137
I am having issues running it on my machine with all the python dependencies installation.Some help would be great!

[2021-03-23 20:01] Sristi27 commented on #137
@maneprajakta @Praful932

[2021-03-24 03:30] maneprajakta commented on #137
Ya @Sristi27  project supports python version 3.8 you can download it from  [here](https://www.python.org/downloads/windows/).
If you still face a problem reach out to us on discord or start a Github discussion.

[2021-03-24 03:35] maneprajakta commented on #132
@prerna2712 Go ahead with this :rocket: before that read our [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42).
Also, go through above comments.

[2021-03-24 03:57] ShambhaviSharma0110 commented on #132
@maneprajakta I've already made a 404 page I was just waiting to get assigned and make a pr...

[2021-03-24 04:03] maneprajakta commented on #132
.

[2021-03-24 04:04] maneprajakta commented on #132
@ShambhaviSharma0110 No issues but we do expect some replies.

[2021-03-24 04:05] maneprajakta commented on #132
@prerna2712 check out other issues that we have for project.

[2021-03-24 06:28] rk05-lenavo commented on #41
I am a GSSoC'21 participant.
Can you assign me this issue

[2021-03-24 10:02] ShambhaviSharma0110 commented on #132
yes ofc I'm really sorry for late replies I'll create a pr in just about an hour...

[2021-03-24 14:32] prerna2712 commented on #132
Okay sure

[2021-03-24 15:46] varunkmr19 commented on #89
Hi, I'm a GSSOC'21 Participant. Can I work on this if it's still open?

[2021-03-24 18:01] SalmaZakaria commented on #56
@Praful932 After I had cloned the repository to my local machine I don't know how to see my changes when I click on any HTML page it opens with Html only without CSS

[2021-03-24 18:08] Praful932 commented on #41
Go ahead @rk05-lenavo

[2021-03-24 18:17] Praful932 commented on #89
Sure go ahead @varunkmr19

[2021-03-24 18:20] Praful932 commented on #56
@SalmaZakaria Head to project discord

[2021-03-25 04:56] #50 closed

[2021-03-25 04:57] maneprajakta commented on #89
closed by #140

[2021-03-25 04:57] #89 closed

[2021-03-25 14:35] Inventor77 opened #141 "Login/signup toggle functionality"
**Is your feature request related to a problem? Please describe.**
Login and Sign In page takes different two pages and also taking too much space in  Navigation Bar Makes UI bit clumsy

**The solution**
Enhancing the UI Of Signin and login page into one also adding Dynamic functionality by toggling  between them in one single page and also adding interactive Animation also making UI of Navbar mor

[2021-03-25 16:10] Praful932 commented on #141
Hi @Inventor77, check out the [guidelines](https://github.com/Praful932/Kitabe/discussions/42), We would need the concept & design to match with the theme of the website and also think along the lines how you will display login & signup when logged in & not

[2021-03-25 16:30] arpit456jain commented on #132
can I work on this issue?

[2021-03-25 16:34] Inventor77 commented on #141
Yes Sir I will work on it and soon Give it's Solution but Please Assign me this Issue I that I have Created

[2021-03-26 03:45] maneprajakta commented on #132
@arpit456jain thanks for showing interest the issue is assigned already. Go through our [starter guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-03-26 03:46] maneprajakta commented on #141
ok, go ahead.

[2021-03-26 14:03] Aditya201551 opened #142 "[Feature] [GSSOC' 21] Adding Facebook auth to the app"
**Is your feature request related to a problem? Please describe.**
- It would be more convenient that user has the option to log in with Facebook to this app, as it would provide more authentication option to users

**Describe the solution you'd like**
- I would like to add the feature of Facebook login to this project by using developers.facebook.com's login API

**Are you willing to contribute t

[2021-03-26 14:43] Mus2413 commented on #90
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 14:55] muthuannamalai12 opened #143 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 19:15] rk05-lenavo commented on #41
@Praful932 I have created the Pull request kindly check the code.

[2021-03-26 19:55] iampranavdhar commented on #111
Hey @maneprajakta,
In case if it is not solved yet can you assign me?
Thanks

[2021-03-27 05:19] Praful932 commented on #143
Thanks for your interest @muthuannamalai12  :) I don't think this is required

[2021-03-27 05:19] #143 closed

[2021-03-27 05:29] Praful932 commented on #142
Thanks for your interest :) @Aditya201551 , We believe google auth is all we we'll need for now.
Check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [guidelines ](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-27 05:29] #142 closed

[2021-03-27 15:39] nidhivanjare opened #145 "Arrange books side by side in Library"
**Is your feature request related to a problem? Please describe.**
On the library page, each book is taking a large space and the user will have to scroll more. So we can align books in a different manner.

**Describe the solution you'd like**
we can display 2 books side by side.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

I am a GSSOC'21 participant I would like to contribute

[2021-03-27 17:27] Praful932 commented on #145
@nidhivanjare Need more description & detail with screenshots check out [any other sample issues](https://github.com/Praful932/Kitabe/issues/30)

[2021-03-27 17:38] Praful932 commented on #129
@knmehta12 Any updates? You can open a WIP/Draft PR so we can track that you are going in the right direction :)

[2021-03-27 17:39] Praful932 commented on #128
@Rhutwi Any updates? You can open a WIP/Draft PR so we can track that you are going in the right direction :)

[2021-03-27 17:40] Praful932 commented on #137
@Sristi27 Any updates? You can open a WIP/Draft PR so we can track that you are going in the right direction :)

[2021-03-27 17:40] Praful932 commented on #56
@SalmaZakaria Any updates? You can open a WIP/Draft PR so we can track that you are going in the right direction :)

[2021-03-27 17:44] Praful932 commented on #111
Hi @iampranavdhar This is currently assigned :)
Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) or [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-asc+no%3Aassignee)

[2021-03-27 19:08] Sonaljain6431 commented on #30
Hey @Praful932 ! I am interested to work on this issue. Would you like to assign to me?

[2021-03-28 02:40] maneprajakta commented on #30
@Sonaljain6431 this issue is already taken. Meanwhile, you can check out other [issues](https://github.com/Praful932/Kitabe/issues) and go through [Startet Guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-03-28 03:48] Sonaljain6431 commented on #30
Ok

[2021-03-28 04:03] knmehta12 commented on #129
@Praful932 Sure I'll do that now.

[2021-03-28 05:55] Sonaljain6431 opened #148 "Limit Characters shown in Book Cards"
**Is your feature request related to a problem? Please describe.**
Some of the book tiles doesn't clearly show up the details as all the book tile have the same size while some of the book description and book name are large. Thus description gets hidden behind buttons.

**Describe the solution you'd like**

It can be done by:
1. Making the image of the book small
2. Increasing the size of that pa

[2021-03-28 06:06] nidhivanjare commented on #145
Library Page Display          |  What I want it to look like
:-------------------------:|:-------------------------:
![](https://user-images.githubusercontent.com/55665104/112743910-248eeb80-8fb9-11eb-8b36-5180ed096059.png)  |  ![](https://user-images.githubusercontent.com/55665104/112743922-412b2380-8fb9-11eb-9a9c-8f5a0d525aee.png)

If we display the cards side by side in the library page then th

[2021-03-28 06:06] sonaljain067 opened #149 "Enhacing typeface"
**Is your feature request related to a problem? Please describe.**
On the login and sign-up page, more than 3 types of font-styles are used which don't look professional and consistent.

**Describe the solution you'd like**
Changing the fonts to a type of font that would be looking consistent and premium look. For example, adding 2 or a maximum of 3 fonts that would be a little similar to one anot

[2021-03-28 06:56] Praful932 commented on #145
@nidhivanjare We would want the same current UI for library, what you could do is arrange them side by side and paginate accordingly, there will be backend change too
Is that what you mean?

[2021-03-28 06:58] Praful932 commented on #149
@Sonaljain6431 Could you add an example to the issue description, what you expect it to be, then vs now scenario?

[2021-03-28 06:59] nidhivanjare commented on #145
Yes, I just want to arrange them side by side !!

[2021-03-28 07:21] Sonaljain6431 commented on #149
Sure

[2021-03-28 08:49] maneprajakta commented on #148
@Sonaljain6431  We don't want the card design to be changed for the genre page. If you could suggest other alternatives like one could be fixing the no of lines to be displayed for book name and author name.

[2021-03-28 08:53] Sonaljain6431 commented on #148
The padding or font-size of the text can be decreased.

[2021-03-28 08:59] maneprajakta commented on #148
@Sonaljain6431 adding bottom padding to author name would work what you say?

[2021-03-28 09:01] Sonaljain6431 commented on #148
It can increase the size of the card design if card is not set to box-sizing

[2021-03-28 09:01] maneprajakta commented on #148
Also fixing the line to be displayed for the book title will work

[2021-03-28 09:03] Sonaljain6431 commented on #148
It indirectly involves changing the font size

[2021-03-28 09:12] Sonaljain6431 commented on #148
Can I work on this issue?

[2021-03-28 09:12] maneprajakta commented on #148
True
So go for fixing lines to be displayed for book title or book author would work check [this](https://github.com/Praful932/Kitabe/blob/f664d589f1af33e48655731d574b343fdb910d81/templates/mainapp/index.html#L373) for same

[2021-03-28 09:12] maneprajakta commented on #148
Go ahed

[2021-03-28 09:13] Sonaljain6431 commented on #148
Ok

[2021-03-28 09:14] maneprajakta commented on #148
Go through [starter guide](https://github.com/Praful932/Kitabe/discussions/42) it will help.

[2021-03-28 09:18] maneprajakta commented on #148
@Sonaljain6431 you need to do this to explore and genre-wise book displayed page.

[2021-03-28 09:20] maneprajakta commented on #90
#148 will solve this

[2021-03-28 09:20] #90 closed

[2021-03-28 09:20] Sonaljain6431 commented on #148
Okay mam!

[2021-03-28 10:06] Praful932 commented on #145
Sure go ahead

[2021-03-28 13:00] Rhutwi commented on #128
Sure i will open it by tomorrow.

[2021-03-28 15:47] arpit456jain commented on #33
@Praful932 sir can you please guide me what's this (code coverge.py) and from where i can learn how to it.

[2021-03-28 17:57] saniikakulkarni commented on #148
Is it ok if work on this issue?
I can also improve UI of the tile.

[2021-03-28 17:58] saniikakulkarni commented on #148
Is it ok if I work on this issue?
I can also improve UI of the book tile.

[2021-03-29 03:12] Praful932 commented on #33
Sure @arpit456jain, Check out [this](https://medium.com/@nathanpatnam/what-is-unit-testing-code-coverage-and-how-to-implement-and-use-them-in-python-a8f029558fe7) article on what tests & coverage is. Then check out [this ](https://realpython.com/testing-in-django-part-1-best-practices-and-examples/) article on django testing. Hope this helps.
Ping me if you have more doubts

[2021-03-29 03:48] #62 closed

[2021-03-29 08:08] soumya15o3 opened #155 "Add an "About Us" page"
It would be a nice addition to your website that you have an "About Us" page that tells others your objective for your website.
And I would like you to assign this issue to me

[2021-03-29 18:59] iampranavdhar opened #157 "feat: Adding hover effect to cards in "Read Genre Wise""
### Is your feature request related to a problem? Please describe.
The hover effect is given to "Read Genre Wise" is given to complete div which doesn't seem to be interactive for the users.

### Describe the solution you'd like
It would be nice if we give a hover effect to each card instead. I don't know it's by mistake or intentional but if you feel the same that it should be corrected, Assign i

[2021-03-30 03:05] maneprajakta commented on #155
@soumya15o3 thanks for showing interest we don't need this

[2021-03-30 03:05] #155 closed

[2021-03-30 03:29] maneprajakta commented on #157
@iampranavdhar follow the issue template for creating an issue.

[2021-03-30 03:33] maneprajakta commented on #56
@SalmaZakaria any updates?

[2021-03-30 03:34] maneprajakta commented on #128
@Rhutwi any updates?

[2021-03-30 03:35] maneprajakta commented on #141
@Inventor77 any updates?

[2021-03-30 04:08] Inventor77 commented on #141
Yes Mam I'm for on it, I enhanced the Navbar. I'm familiar with Flash but Not Django so it's taking me little Time to integrate two files and making a Animation. I have to be Careful since integrating Login and SignUp file can Affect other too.

[2021-03-30 04:47] Praful932 commented on #141
That's alright, you can open a WIP/Draft PR so that we also know that you're going in the right direction & help out if needed :)

[2021-03-30 05:02] Inventor77 commented on #141
Yes Sir, thats the best Option too.
But I think doing alone will Help me learn more.

[2021-03-30 05:10] knmehta12 commented on #129
Hello I have exams from tomorrow. Is it okay if I make a PR after this week?

[2021-03-30 05:11] Rhutwi commented on #128
Hello I have  semester exams from tomorrow. Is it okay if I make a PR after some time?

[2021-03-30 05:55] iampranavdhar commented on #157
@maneprajakta Can you take a look into this now?

[2021-03-30 11:05] maneprajakta commented on #129
@knmehta12 No issues.
All the best for exams :+1:

[2021-03-30 11:06] nidhivanjare opened #161 "Fix "Sign In With Google""
**Describe the bug**
The "Sign In with google option is not working"

**To Reproduce**

I would like to fix this error to help the users sign in with google easily.

**Expected behavior**
Users should be able to log in or sign up using the "Sign in with Google" Button

**Screenshots**

<img width="942" alt="Screenshot 2021-03-30 at 4 31 00 PM" src="https://user-images.githubusercontent.com/5566510

[2021-03-30 11:07] maneprajakta commented on #128
@Rhutwi No issues.
All the best for exam :rocket:

[2021-03-30 11:22] maneprajakta commented on #157
@iampranavdhar go for it. Once go through [starter guide](https://github.com/Praful932/Kitabe/discussions/42) it will help in contributing to the project.

[2021-03-30 11:29] maneprajakta commented on #161
@nidhivanjare on the local host it won't work. Your environment doesn't have social account keys in it. check out on our [website](https://kitabe-app.herokuapp.com/)

[2021-03-30 11:29] #161 closed

[2021-03-30 14:54] nidhivanjare opened #162 "Fix "Sign In with Google""
**Describe the bug**
The "Sign in with Google" button in the login page in sign-up page is not working.

**Expected behavior**
I want to fix the error that is thrown when a user clicks sign in with a google button so that he/she can easily sign in.

**Screenshots**
<img width="1440" alt="Screenshot 2021-03-30 at 8 17 46 PM" src="https://user-images.githubusercontent.com/55665104/113009276-6d030080

[2021-03-30 16:02] Praful932 commented on #141
Up to you :) Whatever you feel best

[2021-03-30 16:11] Praful932 commented on #39
Hi @Sukriti-sood Yes, you can go through the [starter guide](https://github.com/Praful932/Kitabe/discussions/42), it will point you to the right resources regarding modelling and how it integrates with the project :)
If you have any specific doubt feel free to [reach out](https://github.com/Praful932/Kitabe/discussions/new)
Also just @Praful932 is fine :)

[2021-03-30 16:18] Praful932 commented on #162
Marking & Closing as duplicate of #161

[2021-03-30 16:18] #162 closed

[2021-03-30 18:20] iampranavdhar commented on #157
Okay, Thanks for assigning. I will work on it and send a PR as soon as possible.

[2021-03-30 22:33] SalmaZakaria commented on #56
@Praful932  @maneprajakta I am very sorry for the late reply
I am working on it now

[2021-03-31 03:30] #111 closed

[2021-03-31 04:43] Praful932 commented on #149
@Sonaljain6431 Could you show the expected typeface/a mockup?

[2021-03-31 10:06] Sonaljain6431 commented on #149
Yeah, sure!

[2021-03-31 13:35] ayushjha952 commented on #33
@Praful932 I want to contribute for this issue but I am not getting how to write unittest for methods present in helpers.py
can you help me with this?

[2021-03-31 15:27] #148 closed

[2021-03-31 15:34] Praful932 commented on #33
Hi @ayushjha952, for each function which isn't currently covered by tests you need to write tests which assert that the intended function returns what is expected

[2021-03-31 15:37] #43 closed

[2021-03-31 15:47] ayushjha952 commented on #33
@Praful932 I am not getting how to write the test case?

[2021-03-31 17:06] ayushjha952 commented on #33
Okay So can you assign this to me I can try?

On Wed, Mar 31, 2021, 22:25 Praful932 ***@***.***> wrote:

[2021-03-31 19:04] srimontidutta commented on #36
Hello, is this issue still open?

[2021-03-31 20:41] iampranavdhar commented on #157
@maneprajakta Had done the changes. can you look into PR?

Thanks.

[2021-04-01 03:08] maneprajakta commented on #36
@srimontidutta yes

[2021-04-01 03:22] maneprajakta commented on #30
@simranbhalla3 any updates?

[2021-04-01 03:22] ayushjha952 commented on #33
@Praful932  Do we have make any separate class or write in one of class provided in tests.py

[2021-04-01 03:26] maneprajakta commented on #72
@AnirudhPanda any updates?

[2021-04-01 04:10] Praful932 commented on #141
@Inventor77 you can open a WIP PR. so we are aware it's being worked upon as you push commits..
Just @Praful932 is fine, no need of sir

[2021-04-01 04:14] Praful932 commented on #33
Separate. Although you can combine all one-liner functions/similar functions into one class.
Do you want to be assigned to this issue?

[2021-04-01 04:37] Inventor77 commented on #141
Yes sir I will do it today itself

[2021-04-01 11:37] #157 closed

[2021-04-01 13:19] kulendu opened #167 "Making improvements for the Search bar"
Making improvements for the Search bar.
<br>
| Before | After (changes I proposed)|
| ----------- | ----------- |
|![Annotation 2021-04-01 184233](https://user-images.githubusercontent.com/56751963/113299360-6baf1080-931a-11eb-8e08-0fed0a26859a.png)|   ![Annotation 2021-04-01 184416](https://user-images.githubusercontent.com/56751963/113299514-9305dd80-931a-11eb-8726-3b4f10e6e0ea.png)|

Previously

[2021-04-01 13:31] Praful932 commented on #167
@kulendu Please follow the issue template :)

[2021-04-01 14:22] Sonaljain6431 commented on #149
Something like this!

[2021-04-01 14:42] Praful932 commented on #167
Yes

[2021-04-01 14:47] kulendu commented on #167
Ok.... Fine

[2021-04-01 15:38] #167 closed

[2021-04-01 15:56] kulendu opened #168 "Improving Search box"
- **Is your feature request related to a problem? Please describe.**
Making improvements for the Search bar. Previously the search bar was almost close to the center, so thought of improving it.

- **Describe the solution you'd like**
Previously the search bar was almost close to the center, and I think it should be a separate part from the logo and the other sections. So I think making it closer

[2021-04-01 16:33] kulendu commented on #168
@Praful932  I have closed the previous issue and created a new one with the templating. Please have a look 👍

Thank you

[2021-04-01 16:51] Saatvik21 opened #169 "Customized Scrollbar"
**Is your feature request related to a problem? Please describe.**

Currently, the scrollbar doesn't go well with the background of the webpages.

**Describe the solution you'd like**

I would like to customize the scrollbar by changing it's color according to the background of the webpage (All Pages).

**Are you willing to contribute to this issue?** [Yes/No]

`Yes`

**Additional context**

**Bef

[2021-04-01 16:57] MrDevLovePer opened #170 "Can I contribute an Android APK of your site"
Hello,
@MrDevLovePer here. I would like to contribute an Android APK of this site.

[2021-04-02 04:56] maneprajakta commented on #168
@kulendu go ahead with this one. Go through  [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) once.

[2021-04-02 05:02] maneprajakta commented on #169
@Saatvik21 Good catch.
A Same color scroll bar for all pages would work. Go through [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) once it will help.

[2021-04-02 05:06] maneprajakta commented on #149
@Sonaljain6431 a mockup we mean showing font-style that you wish to replace.

[2021-04-02 08:39] Fairspy opened #171 "Adding a review page"
**Is your feature request related to a problem? Please describe.**
I would like to add a page where  users can write reviews for the books read by them.

**Describe the solution you'd like**
I would like to add a button in the book modal called review which would then lead to a separate page to the user where they can add a new review for the book if logged in or browse through the existing review

[2021-04-02 09:02] kulendu commented on #168
Ya sure 😁

[2021-04-02 09:26] Praful932 commented on #167
The fix looks nice, why was this closed? @kulendu

[2021-04-02 09:28] kulendu commented on #167
Actually you said to follow the templatings. So I closed this one and opened the new one with the features templates.....

Both the fixes are same

[2021-04-02 09:29] Praful932 commented on #170
Please follow the template :)
Also we don't think that is required
Check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-02 09:29] #170 closed

[2021-04-02 09:31] Praful932 commented on #167
Oh alright, you could have just edited this one, everything in the issue is editable :)
Np, just keep it in mind next time

[2021-04-02 11:33] simranbhalla3 commented on #30
do i just have to create a new pull request with all the changes I had made?

[2021-04-02 17:22] Praful932 commented on #30
Please check out our feedback on the PR you already made

[2021-04-03 11:07] Sonaljain6431 commented on #149
Is this appropriate?

[2021-04-03 13:00] maneprajakta commented on #56
@SalmaZakaria you can draft a wip pr for changes done till now

[2021-04-03 18:48] Khushi-agarwal opened #175 "Improving the testimonials page"
The testimonial page can be improved by adding animation and also adding a hover effect on them.
please @varunkmr19 @ImgBotApp @Praful932 @sonaljain067 @WaderManasi  assign this issue to me.

[2021-04-03 18:50] #175 closed

[2021-04-04 00:38] akshay1027 opened #176 "Live application in the readme to open in a new tab"
**Is your feature request related to a problem? Please describe.**
Live application in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

**Are you willing to contribute to this issue?** [Yes]

[2021-04-04 00:39] akshay1027 opened #177 "Improve footer UI"
**Is your feature request related to a problem? Please describe.**
Improvements we can add to Footer are :
1)Find us with logo
2)Call us with logo
3)Mail us with logo
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights

[2021-04-04 05:03] maneprajakta commented on #177
We don't feel need for this

[2021-04-04 05:03] #177 closed

[2021-04-04 05:05] maneprajakta commented on #176
@akshay1027 follow the issue template for creating an issue.

[2021-04-04 05:08] maneprajakta commented on #171
I don't think there is need for this what you say @Praful932

[2021-04-04 06:30] maneprajakta commented on #149
@sonaljain067
- Approving the buttons
- But the form content as it's informative its text cursive doesn't look appropriate.
- Also if possible try if you could add a google icon in `sign in with google button`
- not sure about nav bar font but you can try we will discuss in PR further chnages.
- Also changes needs to be done on both pages `login` and `signup`
Assigning you go ahead :rocket:

[2021-04-04 07:01] sonaljain067 commented on #149
Ok

[2021-04-04 08:03] #169 closed

[2021-04-04 08:07] Praful932 commented on #171
I don't think we would be needing an implementation for this,currently we want to focus on fixing bugs and **high priority issues**. We do feel the need for a discussions section instead of a review in a future release tho :)
We will open new issues as soon as current milestone is finished.
Closing for now

[2021-04-04 08:07] #171 closed

[2021-04-04 12:02] akshay1027 commented on #176
Sorry!I found that we cant do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so i will close this issue

[2021-04-04 12:02] #176 closed

[2021-04-05 05:15] Praful932 commented on #56
@SalmaZakaria Any updates?

[2021-04-05 06:45] arpit456jain commented on #132
@maneprajakta I had made a 404 page and added the backend for showing this page if 404 error occurs kindly review it.

https://user-images.githubusercontent.com/55352601/113545832-86c69c80-9608-11eb-8449-00a0edbbad49.mp4

If its ok may I create a PR

[2021-04-05 09:03] maneprajakta commented on #132
@arpit456jain
This is nice but if you could do something like this [examples](https://freefrontend.com/html-funny-404-pages/)
or this
![Screenshot from 2021-04-02 13-29-51](https://user-images.githubusercontent.com/57425995/113557257-589e8800-961b-11eb-863d-60f1e1acaa96.png)

- Maintain theme of the website take help of codepen and [canva](https://www.canva.com/) to get the animations you can even

[2021-04-05 09:04] arpit456jain commented on #132
Ok @maneprajakta i will try

[2021-04-05 15:54] Greeshma2903 commented on #72
@Praful932  @maneprajakta  I would like to work on it.
Can I use an online image converter? Like this: https://cloudconvert.com/png-to-webp

[2021-04-05 15:57] Greeshma2903 commented on #72
I used it to convert one of the banner images. The .png version is 372 KB whereas .webp version is 69.7 KB (size).

[2021-04-05 16:29] srishtij2000 commented on #168
Can I work on this issue?

[2021-04-05 17:07] maneprajakta commented on #72
Yes, go for it.

[2021-04-05 17:11] maneprajakta commented on #137
@Sristi27 any updates ?

[2021-04-05 19:49] Sristi27 commented on #137
Created a Pull Request.Please review it and see if any further updates are required!

[2021-04-06 07:32] Praful932 commented on #168
@srishtij2000 This is assigned :), check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-06 07:34] Praful932 commented on #132
@arpit456jain No problem with the debug variable, it's set to False in production, we will review accordingly after a PR is made :)

[2021-04-06 08:25] arpit456jain commented on #132
Ok @Praful932

[2021-04-06 18:40] SnehaVeerakumar commented on #41
Kindly assign me this issue. I will complete within 1 day. @maneprajakta
You can unassign me if I don't complete in maximum of 2 days.

[2021-04-06 18:42] SnehaVeerakumar commented on #41
Is this issue still up for grab ?
@maneprajakta

[2021-04-07 00:45] shreya-gb commented on #145
May I work on this? @nidhivanjare

[2021-04-07 02:26] Sukriti-sood commented on #33
@Praful932 I want to work on this.

[2021-04-07 04:06] maneprajakta commented on #41
@SnehaVeerakumar Yep. Do you want to be assigned for this one?

[2021-04-07 04:08] maneprajakta commented on #33
@Sukriti-sood Go for it, read once [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help in contributing to the project.

[2021-04-07 04:13] Praful932 commented on #145
Hi @shreya-gb This is already assigned :)
Check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-07 04:28] maneprajakta commented on #128
@Rhutwi any updates?

[2021-04-07 05:17] Fairspy commented on #56
@Praful932 @maneprajakta Can I work on this?

[2021-04-07 05:59] knmehta12 commented on #129
Hello I ran into a problem and I am clueless as to how to proceed. Can I get some help please?

Some descriptions aren't in English so they are Non-ASCII characters and so I cannot put it in any model. I tried looking up transliterating but I'm not so sure it helps. What should I do next? Should I replace those with their title and author name?

Thank you very much.

[2021-04-07 06:03] Nidhi-2000 commented on #36
Hey @maneprajakta I am GSSOC'21 participant. Can you please assign this issue to me

[2021-04-07 06:05] Nidhi-2000 commented on #35
Hey @maneprajakta . Can you please assign this issue to me. I am a GSSOC'21 participant

[2021-04-07 06:29] CMELAKKIA commented on #41
@maneprajakta  Yes ! I can complete this issue within 1 or 2 days !!!

[2021-04-07 06:31] SnehaVeerakumar commented on #41
@maneprajakta  YES ! I can complete this issue in 1 or 2 days !!

[2021-04-07 08:14] maneprajakta commented on #41
Go ahead :rocket: . Read once [starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help.

[2021-04-07 08:22] maneprajakta commented on #129
@knmehta12 What method did you used . Check if this [Library](https://py-googletrans.readthedocs.io/en/latest/) could help.

[2021-04-07 08:24] maneprajakta commented on #36
Go ahead @Nidhi-2000 .Go through [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) once.

[2021-04-07 08:27] maneprajakta commented on #35
@Nidhi-2000 One issue at a time assigned you here #36.

[2021-04-07 12:51] simranbhalla3 commented on #132
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:52] simranbhalla3 commented on #41
Hii, can i work on this?

[2021-04-07 12:53] simranbhalla3 commented on #48
Can i work on this issue? @Praful932

[2021-04-07 13:53] SnehaVeerakumar commented on #41
Started working on it !

[2021-04-07 17:47] Praful932 commented on #72
@maneprajakta Shall we make this level0 the issue is a piece of cake thats why

[2021-04-07 17:48] Praful932 commented on #132
@simranbhalla3 This is already assigned :)
Check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-07 17:50] Praful932 commented on #48
@simranbhalla3 You already have one pending PR #123 , Please check :)

[2021-04-07 17:56] #168 closed

[2021-04-07 19:23] harshita2319 commented on #48
Hey, I'm a participant of Gssoc and I'd like to work on this issue. Please let me know if I can!

[2021-04-07 19:49] Sristi27 commented on #137
@Praful932  @maneprajakta Please kindly review my pull request #180

[2021-04-08 03:19] maneprajakta commented on #72
@Praful932 Yep no issues.

[2021-04-08 03:29] maneprajakta commented on #48
@harshita2319 Yes, assigning you.
Go through Very Important Points to be Noted section under [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-08 03:53] hasanmdarif commented on #35
Is anyone working on it? If not then please assign me

[2021-04-08 05:09] Praful932 commented on #35
@hasanmdarif Go ahead :)
Do checkout the [guidelines](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-08 06:24] hasanmdarif commented on #35
Thanks @Praful932

[2021-04-08 06:30] arpit456jain commented on #132
@Praful932 kindly review my PR

[2021-04-08 15:30] Aditi0102 commented on #39
@Praful932 I would like to work on this issue under GSSOC'21

[2021-04-08 16:22] maneprajakta commented on #39
@Aditi0102 Go ahead :rocket: . check [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help.

[2021-04-08 17:28] Fairspy commented on #56
@Praful932 @maneprajakta Can I work on this?

[2021-04-09 03:07] maneprajakta commented on #56
@Fairspy Yes go for it.

[2021-04-09 09:46] Fairspy commented on #56
Great then I'll start working on it!
@maneprajakta I would just like to ask one thing do you guys want the save for later button on the book card or in the book modal?

[2021-04-09 11:07] iaryangoyal commented on #149
is this still open?

[2021-04-09 11:14] Aayu231 commented on #30
Hey, I'd like to work on this issue. Any updates?

[2021-04-09 13:05] Praful932 commented on #56
Just Book modal should be fine for now

[2021-04-09 13:06] Praful932 commented on #149
@iaryangoyal This is assigned, check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-04-09 13:06] Praful932 commented on #30
@Aayu231 Go ahead 🚀

[2021-04-10 01:39] maneprajakta commented on #33
@Sukriti-sood you can draft a WIP PR for changes done till now.

[2021-04-10 01:40] maneprajakta commented on #36
@Nidhi-2000 you can draft a WIP PR for changes done till now. So that we can review the progress.

[2021-04-10 01:42] maneprajakta commented on #128
@Praful932 what you say?should we close this issue or unassign.

[2021-04-10 02:56] Rhutwi commented on #128
Sorry my family is suffering from COVID-19 and i too have the symptoms so i couldn't work on the issue.. though i am trying to solve it as fast as i can.. Sorry for the delay or lack of response from my side.

[2021-04-10 03:40] maneprajakta commented on #128
@Rhutwi No worries.
Hope everyone gets recovered soon🤞
Take care of your health and your family.
Surely, we will keep the issue open. So, whenever you feel you can start working on it but we need to unassign you as the project is open for contribution everyone should get a chance.

[2021-04-10 03:44] Rhutwi commented on #128
Sure thank you for understanding.

[2021-04-10 06:22] Greeshma2903 opened #185 "Adding "About" section and Resizing banner images"
**Is your feature request related to a problem? Please describe.**
Users might not exactly understand what the site is about. Also, when the site loads, the banner image covers the 3/4th of the viewport.

**Describe the solution you'd like**
1. Adding an **About** section on the Home page will help users understand what the website does/ is.
2. Resizing the height of banner images, to direct the u

[2021-04-10 06:28] Greeshma2903 commented on #185
I have designed the same the  UI here: https://www.figma.com/file/quY3GKiD5RgWhsJAg2PKyE/?node-id=68%3A18

PS: I can design the UI for a separate **About** section if needed. But I am not sure if I can code the same, and will need some guidance.😅

[2021-04-10 06:31] Praful932 commented on #128
@Rhutwi Take care and hope everyone gets well 💜
You can always contribute later :)

[2021-04-10 09:18] kumar-tushar opened #186 "Newsletter Subscription in Footer Section"
There must be a weekly or monthly NEWSLETTER subscription for the user where they can enter their email and submit it.

THIS IS THE MOST REQUIRED FEATURE FOR THESE TYPES OF WEBSITES.

The Users will get emails related to popular or trending books.

If required then social links Insta, FB, LinkedIn, Twitter must be present.

@Praful932 I am excited to work on this new feature.

[2021-04-10 10:15] khareyash05 opened #187 "addition in contributing.md"
Hi! I would like to add the following in contributing.md-
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 10:31] ParthSingh0506 opened #188 "Using NLP to detect customer review"
->Using NLP to detect customer review

A clear and concise description of what you want to happen.

->The basic idea is that our ML model will able to tell whether the review given by person is negative or positive by using the
  NLP .

**Are you willing to contribute to this issue?** [Yes/No]
->Yes

[2021-04-10 10:31] ParthSingh0506 commented on #188
@Praful932  kindly assign me this issue

[2021-04-10 10:59] Praful932 commented on #186
Hi @kumar-tushar Thanks for your interest, but we wouldn't be needing this, there have been similar issues in the past, check out the discussion [here](https://github.com/Praful932/Kitabe/issues/45#issuecomment-794979602).
Meanwhile you can check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Prafu

[2021-04-10 10:59] #186 closed

[2021-04-10 11:00] Praful932 commented on #187
Hi @khareyash05  Thanks for your interest, but we wouldn't be needing this, We believe we already have it covered in the starter guide.
Meanwhile you can check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Praful932/Kitabe/discussions/42).
Also please follow the issue template next time you create

[2021-04-10 11:00] #187 closed

[2021-04-10 11:02] Praful932 commented on #188
Hi @ParthSingh0506 Appreciate your interest in the project, but we don't really have a review section in the application.
You can check out [up-for-grab issues](https://github.com/Praful932/Kitabe/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) or the [starter guide](https://github.com/Praful932/Kitabe/discussions/42).
Also please follow the issue template next time you create an issue :)

Regards,
P

[2021-04-10 11:02] #188 closed

[2021-04-10 13:49] maneprajakta commented on #185
@Greeshma2903
1.For the about us section a `welcome banner` in the carousel section which should come first is what we think would look great :rocket: .
2.For resizing go for what you feel will look appropriate.
Also for making banner, you can use [this](https://www.canva.com/)  maintain theme of website and also the font style.

[2021-04-10 13:54] maneprajakta commented on #72
Closed by #182

[2021-04-10 13:54] #72 closed

[2021-04-10 14:12] Greeshma2903 commented on #185
Great! I Will work on it.

Regarding the content, should I use continue with the same I used in the UI prototype? @maneprajakta

[2021-04-10 16:39] ambivert-sam commented on #185
Hey, @Greeshma2903 can I work on this issue?

[2021-04-10 16:57] Greeshma2903 commented on #185
Hello @ambivert-sam, guess you got confused, I am not the project maintainer😅
Regarding this issue, since it already assigned, you can look up the unassigned issues and go through [this](https://github.com/Praful932/Kitabe/discussions/42#discussion-3255567) as well. All the best👍👍

[2021-04-10 17:51] Praful932 commented on #185
@Greeshma2903 Looks nice 👍, Make the wordings same as the Repo description, make `Kitabe` italic  & bold and remove the bracket part. Move from - Simply to new line.

[2021-04-10 18:25] Greeshma2903 commented on #185
Okay👍

[2021-04-10 18:52] akshay1027 opened #189 "Improve Footer"
**Describe the bug**
Improvements that can be made in footer are:
1)Find us
2)Call us
3)Mail us
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights
10) All the above with responsive UI

[2021-04-10 18:54] akshay1027 commented on #189
I would like to work on this!
@maneprajakta @Praful932

[2021-04-10 21:41] harshita2319 commented on #48
Though some of the points are similar to those given by the previous assignee but I too feel that these changes are required.
I've demonstrated the color scheme as well, though I've got a few more color palettes in mind for this, so let me know in case you didn't like this, I'll switch to another one.

[https://www.figma.com/file/x2PcvAscy7cWQsBHGOPD90/second-copy-color]

[2021-04-10 21:42] harshita2319 commented on #48
Though some of the points are similar to those given by the previous assignee but I too feel that these changes are required.
I've demonstrated the color scheme as well, though I've got a few more color palettes in mind for this, so let me know in case you didn't like this, I'll switch to another one.

[mockup](https://www.figma.com/file/x2PcvAscy7cWQsBHGOPD90/second-copy-color)

[2021-04-11 02:21] maneprajakta commented on #189
@akshay1027 thanks for showing interest.
But we don't need this feature meanwhile checkout other issues.

[2021-04-11 02:21] #189 closed

[2021-04-11 06:26] maneprajakta commented on #48
@harshita2319 can you make a mockup only for color scheme that you wish first.
- After this, we can go for other changes suggested or another issue can be created for that.

[2021-04-11 09:44] harshita2319 commented on #48
Yeah okay, I'll prepare another one, will share the link in a day or two.

[2021-04-11 14:52] satcasm opened #192 "Changing the units in css files"
While going through the ```css``` files of the project , I noticed that some of the properties are being used with values in ```px```. In order to keep the site responsive and flexible ,would like to change the units to ```rems/ems``` under GSSOC' 21.
Please assign this issue to me.
Thanks!

[2021-04-11 14:57] satcasm opened #193 "Navbar on smaller devices"
**Is your feature request related to a problem? Please describe.**
The navbar for smaller devices is all messed up and also I noticed the elements of the navbar are not responsive with the screen size.

**Describe the solution you'd like**
Making the navbar elements responsive with the screen size and also improving the alignment of navbar for smaller devices.

**Are you willing to contribute to t

[2021-04-11 16:04] maneprajakta commented on #193
@satcasm Follow issue template for creating an issue.
Check #185 this is what we expect in an issue.

[2021-04-11 16:31] maneprajakta opened #194 "Login and Signup Page Layout"
**Describe the bug**
- For large screen :
   In `login in` page When a user enters wrong password space between buttons increases and also form content goes out of div.
- For small screen :
  On `login in` ,`sign up` page form border is not aligned properly also when a user enters wrong password  it's messed up same
   as in large screen.

**To Reproduce**
Steps to reproduce the behavior:
- First

[2021-04-11 16:34] satcasm commented on #193
My apologies, should I close this issue and create a new one?

[2021-04-11 16:36] satcasm commented on #194
Hey @maneprajakta I can work  on this issue. Can you assign it to me?

[2021-04-11 16:37] #192 closed

[2021-04-11 16:40] maneprajakta commented on #193
You can edit this issue

[2021-04-11 16:41] satcasm commented on #193
Ok sure, will do that.

[2021-04-11 16:44] maneprajakta commented on #194
@satcasm Go ahead :rocket:
Once read [starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it will help.

[2021-04-11 17:18] satcasm commented on #193
@maneprajakta made the required changes.

[2021-04-11 18:57] satcasm commented on #194
Hey @maneprajakta , for larger screens is it good or should I make some more changes?
![image](https://user-images.githubusercontent.com/56315878/114317438-bc4a1900-9b25-11eb-8e6d-ed7cf7719719.png)
Had to make the buttons inline so that when the error message pops up the elements don't go outside the div.

[2021-04-11 19:09] satcasm commented on #194
For smaller Screens:
![image](https://user-images.githubusercontent.com/56315878/114317658-cfa9b400-9b26-11eb-963b-1eddd7eff2b6.png)
![image](https://user-images.githubusercontent.com/56315878/114317807-8017b800-9b27-11eb-82da-ab15e34d2648.png)

[2021-04-11 19:10] akshay1027 opened #195 "The margin between cards can be increased"
**Describe the bug**
The margin between cards can be increased to make a better UI.

**Screenshots**

![2021-04-12_LI](https://user-images.githubusercontent.com/65683151/114317823-94f44b80-9b27-11eb-938c-9bca361555b7.jpg)

**Are you willing to contribute to this issue?** [Yes]

[2021-04-12 04:49] #145 closed

[2021-04-12 08:25] vedant-jain03 opened #196 "Want to Change Navbar design"
**Is your feature request related to a problem? Please describe.**

* I want to Change  the style of Navbar as it don't have any good hover effect and the icons are also very big.

**Describe the solution you'd like**

I want to edit the navbar.
I will align items in much good way.
I will also provide you with cool hovers effect
I will also give 100vh to welcome image so that it will make a good l

[2021-04-12 08:35] vedant-jain03 commented on #196
@maneprajakta Please assign me the issue if valid

[2021-04-12 12:08] maneprajakta commented on #194
@satcasm we don't want the button to be placed side by side.`sign in` button should be above `sign in with google button` and both buttons should be centrally aligned.

[2021-04-12 12:09] maneprajakta commented on #193
@satcasm Go ahead then.

[2021-04-12 12:31] maneprajakta commented on #195
@akshay1027 cards are also of uneven size can you fix that too.

[2021-04-12 12:32] maneprajakta commented on #35
@hasanmdarif any updates?

[2021-04-12 12:33] maneprajakta commented on #39
@Aditi0102 any updates?

[2021-04-12 12:33] maneprajakta commented on #129
@knmehta12 any updates?

[2021-04-12 13:40] akshay1027 commented on #195
Sure!

[2021-04-12 14:24] Praful932 commented on #196
@vedant-jain03 There's an ongoing PR #180 for the same, Could you be specific/show some mockups of how you expect to make it better?

[2021-04-12 14:26] Praful932 commented on #195
Imo margin looks fine, only issue is uneven card size

[2021-04-12 14:58] vedant-jain03 commented on #196
I was thinking to Change
* Height of Navbar as it occupies much space.
* Icons and its respective names : I am thinking to remove icons as it occupies more space and show only Text , it will make give professional look.
* I will also make banner and navbar full the size of the window so that it look more like professional website.
* I will make a good hovering effect in Navbar.
* Will also give mo

[2021-04-12 15:04] Sanjana-03 commented on #128
Hello I want to work in this issue what I have to do can you explain me??

[2021-04-12 15:04] Sanjana-03 commented on #128
Hello I want to work on this issue what I have to do can you explain me??

[2021-04-12 19:38] arpit456jain opened #198 "Show password feature in login/signup"
**Is your feature request related to a problem? Please describe.**
There is no show password button some time when any wrong key is pressed if this show password is not present then user have to remove its whole password

**Describe the solution you'd like**
I would like to add a show password feature to login and sign up

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe a

[2021-04-13 04:31] Praful932 commented on #196
I think we would like to keep the icons.
As for the other changes I don't think we would be needing that @maneprajakta Wdyt

[2021-04-13 04:32] Praful932 commented on #128
@Sanjana-03 you can check out the previous conversation, If there any doubts ping one of us

[2021-04-13 04:33] Praful932 commented on #198
Follow the issue template.

[2021-04-13 04:44] #196 closed

[2021-04-13 04:49] vedant-jain03 opened #199 "Banner + Navbar height"
**Describe the bug**

I think the banner + navbar should contain height of 100vh total

**Before**
![bandicam 2021-04-12 13-58-11-288](https://user-images.githubusercontent.com/76901313/114498396-a3368a80-9c41-11eb-8ccf-faf5441bdfd8.jpg)

**After**
![bandicam 2021-04-13 10-17-18-511](https://user-images.githubusercontent.com/76901313/114498399-a467b780-9c41-11eb-94f7-5458ebc725b7.jpg)

[2021-04-13 04:50] vedant-jain03 commented on #199
@Praful932
If valid issue please assign me

[2021-04-13 04:59] vedant-jain03 opened #200 "Night Mode"
**Is your feature request related to a problem? Please describe.**

I wanted to add night mode feature into this website.

**Describe the solution you'd like**

* Their will be button of checkbox type when user click it, theme will change to night theme.

**Are you willing to contribute to this issue?** [Yes/No]
* yes

[2021-04-13 05:00] vedant-jain03 commented on #200
@Praful932 if valid please assign.

[2021-04-13 05:48] knmehta12 commented on #129
Hi @maneprajakta I'm working on it. it's almost done. It'll take a day more maximum. :)

[2021-04-13 06:39] arpit456jain commented on #198
done

[2021-04-13 06:54] Aditi0102 commented on #39
@maneprajakta I'll complete in a day or two.

[2021-04-13 08:25] maneprajakta commented on #200
@vedant-jain03 already we have an issue check #41

[2021-04-13 08:26] #200 closed

[2021-04-13 08:27] maneprajakta commented on #199
@vedant-jain03 we don't feel the need for this.

[2021-04-13 08:27] #199 closed

[2021-04-13 15:59] Praful932 commented on #198
We have a priority issue - #194 which needs to be fixed before anything is added to login/signup, so I'll be closing this issue(since its an enhancement) for now, will reopen after that is fixed.
Thanks

[2021-04-13 15:59] #198 closed

[2021-04-13 15:59] Praful932 commented on #39
@Aditi0102 You can open a WIP PR(does not need to be complete), so we can track the progress :)

[2021-04-13 16:17] arpit456jain commented on #198
Ok no problem but please merge my pr for 404 page

[2021-04-13 17:25] #132 closed

[2021-04-14 03:14] maneprajakta commented on #48
@harshita2319 any updates?

[2021-04-14 03:14] maneprajakta commented on #56
@Fairspy any updates?

[2021-04-14 03:17] #195 closed

[2021-04-14 04:10] #149 closed

[2021-04-14 05:13] noviicee commented on #36
@maneprajakta is this issue still open?

[2021-04-14 05:20] Praful932 commented on #36
@noviicee Yes

[2021-04-14 05:32] noviicee commented on #36
So can I take this up?
It just needs the function docstrings to be converted according to numpy style guide right..?

[2021-04-14 05:55] harshita2319 commented on #48
On it. Sorry for the delay!

[2021-04-14 06:46] Fairspy commented on #56
@maneprajakta I am basically done will open a PR by today or for sure tomorrow.

[2021-04-14 07:11] noviicee commented on #35
@Praful932 @maneprajakta I am willing to take this up if it is open :)

[2021-04-14 07:20] noviicee commented on #35
I am willing to take this up if it's still open :)

[2021-04-14 07:26] maneprajakta commented on #36
Yes!
Go ahead @noviicee

[2021-04-14 07:28] maneprajakta commented on #36
@noviicee check [Guide](https://github.com/Praful932/Kitabe/discussions/42) once it will help.

[2021-04-14 07:30] maneprajakta commented on #35
@noviicee okays go ahead.

[2021-04-14 09:20] noviicee commented on #36
Thanks @maneprajakta

[2021-04-14 11:06] knmehta12 commented on #129
Hello I'm uploading mu notebook in my WIP branch. please let me know if I should change anything?

[2021-04-14 13:22] anirudhsai20 opened #202 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project has been listed in.

[2021-04-14 13:22] anirudhsai20 commented on #202
Hi! Please assign this issue to me under GSSOC.

[2021-04-14 14:59] Praful932 commented on #129
@knmehta12 It is worth a shot, you could try improving it and see if any change is visible on the recommendations

[2021-04-14 15:00] Praful932 commented on #202
@anirudhsai20 We don't think there is a need for that :)
Checkout the starter [guide](https://github.com/Praful932/Kitabe/discussions/42).
Thanks

[2021-04-14 15:00] #202 closed

[2021-04-15 06:53] knmehta12 commented on #129
I tried to change a few things like ngram and changing order of description and title in soup. It works a little for titles that are in Japanese  :)

[2021-04-15 08:02] Greeshma2903 commented on #185
Can I use the <picture> tag to source different images for smaller screens and larger screens?

![image](https://user-images.githubusercontent.com/70336930/114835172-eb46e000-9dee-11eb-85f9-1ec2d0e49f91.png)

[2021-04-15 08:53] ShrutiOmer opened #204 "Add social sites icon to the left of window"
**Is your feature request related to a problem? Please describe.**
Want to add social app icons to the left ,Something like this

![icons](https://user-images.githubusercontent.com/75009990/114841981-0a953b80-9df6-11eb-8724-ce4eaa38551a.png)

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-04-15 09:02] maneprajakta commented on #129
Great :rocket:.

[2021-04-15 09:36] Praful932 commented on #204
I don't think we would be needing this. :)
Thanks for your interest, check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42).

[2021-04-15 09:36] #204 closed

[2021-04-16 14:36] maneprajakta commented on #39
@Aditi0102 ?

[2021-04-16 18:14] satcasm commented on #194
Hey @maneprajakta apologies for late response.
![image](https://user-images.githubusercontent.com/56315878/115065994-85507a80-9f0c-11eb-837e-7a7ac24bef17.png)
Is this fine for ```large screen```?
![image](https://user-images.githubusercontent.com/56315878/115066558-5555a700-9f0d-11eb-8eb7-f12fa67f9278.png)
![image](https://user-images.githubusercontent.com/56315878/115066742-92ba3480-9f0d-11eb-943

[2021-04-16 21:08] harshita2319 commented on #48
I've made a mockup, used different color schemes for you to choose.
[one](https://www.figma.com/file/XmKLvuQb5JDMrOc3Pgq1nD/color1?node-id=0%3A1)
[two](https://www.figma.com/file/2hiiYwJwMYjDrqpl0nuiDk/color-2?node-id=0%3A1)
[three](https://www.figma.com/file/eFIDZtvH8luyEGILXzD61Q/color-3?node-id=0%3A1)
[four](https://www.figma.com/file/vaT2So0GfK03sjFZ7K6WIo/color-4?node-id=0%3A1)

[2021-04-17 03:12] maneprajakta commented on #194
@satcasm looks great me just check once for the 360x640 px screen also is everything approriate.

[2021-04-17 03:18] maneprajakta commented on #137
@Praful932 closing this issue after #56 we will think about nav-bar.

[2021-04-17 03:18] #137 closed

[2021-04-17 04:10] Praful932 commented on #48
Hi @harshita2319 appreciate you going all out on this, We had a look at the links you posted. What we want from this issue is a different color scheme/font enhacement, not a whole layout change. A very specific wireframe of how you expect the website to look would be appreciated.
Thanks

[2021-04-17 09:36] harshita2319 commented on #48
Hey, I can't seem to understand what you mean by a specific mockup. Could you please elaborate a bit

Or maybe just add a link to a mockup like that for any website, for my reference. I'd really appreciate!

[2021-04-17 11:11] knmehta12 commented on #129
Hello. Just to be sure I have to replace cosine_rating_sim.npz inside static/mainapp right? I actually couldn't find the code of the model inside so I was confused. Thank you for helping.

[2021-04-17 12:23] maneprajakta commented on #129
Yes

[2021-04-17 12:49] maneprajakta commented on #48
@harshita2319 Ya currently the mockup you have shown you are suggesting changes in different section for example banner carousel what we expect in a mockup is that website structure and content to remain the same . Make an exact copy of the home page on Figma and change color there for example bg color of website and add color pallete at the top showing all color being used.
Check [this](https://v

[2021-04-17 16:26] knmehta12 commented on #129
The file that I'm trying to upload is 146MB. And github isn't letting me upload it. It also says that even if I do use LFS and upload it, it won't be pushed. What do you think I should do? Thank you.

[2021-04-17 17:04] Praful932 commented on #48
You could also check this for [reference](https://www.figma.com/file/quY3GKiD5RgWhsJAg2PKyE/Kitabe?node-id=0%3A1)

[2021-04-17 17:31] Praful932 commented on #129
Hi @knmehta12 , could you show an example of how it compares to the existing similarity, we would like to validate it and only add it if it performs better, Check the notebooks section for the earlier file

[2021-04-17 19:09] harshita2319 commented on #48
Took another stab at it, please have a look.
Thanks for helping!
[first](https://www.figma.com/file/XmKLvuQb5JDMrOc3Pgq1nD/mockup2?node-id=0%3A1), [second](https://www.figma.com/file/0pB1d9l4fKfyFXmGuxQDUM/mockup1?node-id=0%3A1)

[2021-04-17 19:33] CMELAKKIA opened #207 "Website is not responsive"
---
name: Feature request
about: Responsiveness
title: ''Making the website responsive for all devices"
labels: ''GSSOC'21"
assignees: ''CMELAKKIA"

---

**Is your feature request related to a problem? Please describe.**
The current website needs to be responsive.

**Describe the solution you'd like**
It can re-dimension it according the the device used.

**Are you willing to contribute to this is

[2021-04-18 03:43] maneprajakta commented on #207
@CMELAKKIA follow the issue template for creating an issue.

[2021-04-18 05:13] knmehta12 commented on #129
Yes absolutely.

[2021-04-18 07:33] Praful932 commented on #129
A [google collab](https://colab.research.google.com/) notebook would be great

[2021-04-18 07:50] Praful932 commented on #48
Thanks for the mockups.
I checked both of these, I'm not sure if they go in accordance with the theme of the project. Could you try some themes which if you put side by side with the current state of the project, you would choose the new one than the current one

[2021-04-18 08:10] CMELAKKIA commented on #207
Yeah, done.

[2021-04-18 11:15] knmehta12 commented on #129
I uploaded the book in my WIP branch long ago. Is it not there?

[2021-04-18 13:58] Praful932 commented on #129
It is, Mentioned collab because we will be able to run it and check directly

[2021-04-18 15:19] knmehta12 commented on #129
Right. I'm sorry. I did it now. Is this fine?

[2021-04-18 15:50] harshita2319 commented on #48
And by trying out new themes you mean playing with the font of the card text and the color scheme without affecting the basic layout of the website i.e the position of the images, individual boxes and all that..right?

Sorry, if I'm asking too many questions, just want to be sure!

[2021-04-19 01:36] maneprajakta commented on #48
Yes!
No issues :)

[2021-04-19 11:52] #185 closed

[2021-04-20 07:15] reshchat commented on #30
@Praful932 Can I work on this issue ?

[2021-04-20 07:19] simranbhalla3 commented on #30
@Praful932 I had solved this issue but my PR isn't merged yet?
 please let me know

[2021-04-20 12:15] maneprajakta commented on #30
@simranbhalla3 If you could go through your PR #123  you could see we didn't receive updates from your side that's why we closed your PR.

[2021-04-20 13:12] Praful932 commented on #30
@reshchat Go ahead :) Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42)

[2021-04-20 13:16] #36 closed

[2021-04-22 18:01] harshita2319 commented on #48
Hey, have a look and suggest the changes required.
I've just added one extra element..that yellow box, can remove that if needed and introduce that color somewhere else as it goes well and will help to accentuate.

[Mockup](https://www.figma.com/file/4TLJEYoQa2yms4JniLwThz/mockup1?node-id=0%3A1)

[2021-04-23 02:02] maneprajakta commented on #48
@harshita2319
Hi
Went through the mock-up the colors seem dark to me. By keeping the theme of the website in mind could you pick some colors in light shades.

[2021-04-23 08:37] knmehta12 commented on #129
Hello. Should I open another branch for uploading the dataset and link?

[2021-04-23 10:33] maneprajakta commented on #129
You can create a fresh PR with all changes in it.

[2021-04-23 16:52] codebuzzer01 opened #211 "add DARK mode"
**Is your feature request related to a problem? Please describe.**
There is no dark mode as users prefer dark mode more.

**Describe the solution you'd like**
I would like to add a toggle button for dark mode which user if want to can turn on and off

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-04-23 16:54] codebuzzer01 commented on #211
@maneprajakta shall I work on this?

[2021-04-23 17:08] RuchiGitHu opened #212 "Navbar look"
**Is your feature request related to a problem? Please describe.**
Whenever I see website the navbar buttons look so congested and because of that the extra space can be seen in the middle of navbar.
The logo of website also looks too small as compare to other things in website...

**Describe the solution you'd like**
I want to put some space in between navbar buttons. Wanted to increase size of l

[2021-04-23 17:10] RuchiGitHu commented on #212
Please assign this issue to me under gssoc21.

[2021-04-23 17:14] Praful932 commented on #211
Check out #41 :)

[2021-04-23 17:14] #211 closed

[2021-04-23 18:29] maneprajakta commented on #212
@RuchiGitHu Thanks for showing interest.
We are going to change the nav-bar design under a new issue. We don't need this enhancement now.

[2021-04-23 18:29] #212 closed

[2021-04-23 18:31] maneprajakta commented on #207
@CMELAKKIA Thanks for showing interest.
We have some high-priority issues that we believe in solving first.
We don't think this enhancement is needed now.

[2021-04-23 18:31] #207 closed

[2021-04-24 04:32] #30 closed

[2021-04-24 14:59] AB-san opened #214 "Add github action to auto assign GSSOC21 tag to all the issues created and prs opened during this GSSOC period"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/71064674/115962964-51dca400-a53b-11eb-9be3-1c9cfa07184d.png)

i noticed @maneprajakta adding so many tags each and every time a new issue is created.

**Describe the solution you'd like**
1)I would like to add github action that will auto assign GSSOC21 tag to all the issues create

[2021-04-24 15:16] arpit456jain opened #215 "Confirmation before logout"
**Is your feature request related to a problem? Please describe.**
Some times it is possible for the user to click on logout by mistake

**Describe the solution you'd like**
There should be a confirmation alert before logout it will be look something like this.
<img width="361" alt="sweet alert" src="https://user-images.githubusercontent.com/55352601/115963697-2ad3a180-a53e-11eb-9757-4433c39ae7d4.

[2021-04-24 15:17] AB-san opened #216 "Add github action tht 'll send auto request to the mentors to review pr"
**Is your feature request related to a problem? Please describe.**
After the contributors push their code , the mentors will be automatically be assigned to review the changes

**Describe the solution you'd like**
Add a github action that will send auto request to the mentors to kindly review the opened pr

**Are you willing to contribute to this issue?** [Yes]

**Describe alternatives you've cons

[2021-04-24 15:19] AB-san opened #217 "Add a github action to auto-reply after a pr is merged"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add a github action to auto-reply after a pr is merged successfully , message like - Thank you @username for your contribution . Looking forward for more such amazing contribution " Or any other as per

[2021-04-24 15:20] AB-san opened #218 "Add github action to auto-reply when a new pr is opened"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Add github action to send auto-message to the contributors whenever they send a new pr
message for example - "We got your code , @username please wait for our team to review it."
or any other message a

[2021-04-24 16:48] Praful932 commented on #214
Thank you for your interest in the project @AB-san :)
We don't think we would need a GH for auto-adding a single tag, a bit overkill :)

[2021-04-24 16:48] #214 closed

[2021-04-24 16:50] Praful932 commented on #216
Thanks for your interest, Don't think we would be needing this atm :)

[2021-04-24 16:50] #216 closed

[2021-04-24 16:50] Praful932 commented on #217
Don't think we would be needing this :)

[2021-04-24 16:50] #217 closed

[2021-04-24 16:51] Praful932 commented on #218
@AB-san GH Notifications seem handy for the same, seems a bit overkill :)

[2021-04-24 16:51] #218 closed

[2021-04-25 12:23] SAHU-01 commented on #41
//cc @Praful932  Is this issue up to grab?

[2021-04-26 04:14] Praful932 commented on #41
@SAHU-01 Yea go ahead :)

[2021-04-26 07:23] jonathanalvares9009 commented on #33
@maneprajakta can you assign me this issue?

[2021-04-26 08:24] SAHU-01 commented on #41
//cc @Praful932  would you specify if you want anything in particular about  this ,then maybe I can submit a prototype close to what you are looking for!

[2021-04-26 11:37] maneprajakta commented on #33
@jonathanalvares9009 Go ahead also once go through [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42).

[2021-04-26 11:40] maneprajakta commented on #41
@SAHU-01, not anything particular we had thought it's up to you.
It would be great if you first show us a wireframe for the same then after approval you can start working on its implementation part.

[2021-04-26 12:06] SAHU-01 commented on #41
sure,I'll share my wireframe by tommorow and if you want changes,I can keep doing that  until you are satisfied with the designs,hope that sounds good to you //cc @maneprajakta

[2021-04-26 12:16] SAHU-01 commented on #41
@maneprajakta  @Praful932  would you like ui and colour pallete like this for the dark theme

![image](https://user-images.githubusercontent.com/71656941/116080828-22eb3d00-a6b7-11eb-8081-d9b0f7a8cbc5.png)

[2021-04-26 12:21] SAHU-01 commented on #41
i'll keep in mind the three divisions and the carousals you have  and restructure the design similar to the one here,would that work,or you want something a bit more classy like this one
![image](https://user-images.githubusercontent.com/71656941/116081307-bd4b8080-a6b7-11eb-8310-515b7bd4afd1.png)

[2021-04-26 12:55] maneprajakta commented on #41
@SAHU-01 we don't want to change the structure of the website in dark theme just a color change for dark theme would work.

[2021-04-26 13:34] SAHU-01 commented on #41
ok got that,so about the colour palette i'll share that,let me know if those colours suite your taste.

[2021-04-26 13:50] SAHU-01 commented on #41
Let me know which of these colour palette you would prefer @maneprajakta @Praful932

1.![image](https://user-images.githubusercontent.com/71656941/116092864-cc383000-a6c3-11eb-8c35-660d7aa52887.png)

2.![image](https://user-images.githubusercontent.com/71656941/116092915-d78b5b80-a6c3-11eb-8894-86a77b362854.png)

[2021-04-26 14:44] fatma-sia27 opened #219 "Adding contact us page"
Hey @Praful932 , I would love to add contact us page in this website. So please assign me this issue.
Thank you

[2021-04-26 17:20] Praful932 commented on #219
Hi @fatma-sia27 Thanks for your interest in the project, We have had similar issues :) #45
Check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42).

Thanks,
Praful

[2021-04-26 19:02] harshita2319 commented on #48
[Mockup](https://www.figma.com/file/4TLJEYoQa2yms4JniLwThz/mockup1?node-id=0%3A1)
Attached the link.

[2021-04-27 03:25] maneprajakta commented on #41
@SAHU-01 First one works for me :+1:

[2021-04-28 03:56] #219 closed

[2021-04-28 10:34] SAHU-01 commented on #41
@maneprajakta @Praful932 would this wireframe suit the website,then I'd start with the code!
https://www.figma.com/file/xMOePF7WfEhOU72rKsSIwj/Untitled?node-id=0%3A1
I did not change the original layout,I simply added your chosen colour palette.

[2021-04-28 14:58] Praful932 commented on #48
Hi @harshita2319 Could you ping us on discord?

[2021-04-28 15:13] kanisshka opened #220 "Want to make some changes to login page"
**Is your feature request related to a problem? Please describe.**
No, it's a suggestion.

**Describe the solution you'd like**
I want to change css for this.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Additional context**
![image](https://user-images.githubusercontent.com/76627599/116428226-5a4a1d00-a862-11eb-847f-dafc5a50f94f.png)

[2021-04-29 07:39] Praful932 commented on #220
Hi @kanisshka Could you elaborate and update the PR Description? Something like this #30
Preferrably Some answers to questions like What do you intend to make it into?
What & Which css you want to change?

[2021-04-29 09:20] kanisshka commented on #220
Just like first, I want to make an 'OR' line between sign in and sign in with google.
secondly wanted to change some layout or some appearance of this page.

[2021-04-29 10:57] maneprajakta commented on #33
@jonathanalvares9009 any updates?

[2021-04-29 13:33] Praful932 commented on #220
I don't think we need an OR rn, layout and appearance as in? Could you show an example

[2021-04-29 17:40] kanisshka commented on #220
![image](https://user-images.githubusercontent.com/76627599/116594538-f433c780-a93f-11eb-9f95-d77a083b2e6e.png)
Like this....

[2021-04-30 17:44] Praful932 commented on #220
A wireframe perhaps? Like [this](https://www.figma.com/file/4TLJEYoQa2yms4JniLwThz/mockup1?node-id=0%3A1)
What you intend to do? So we know if we want this enhancement or not

[2021-04-30 18:42] #220 closed

[2021-04-30 18:43] kanisshka commented on #220
I think maybe I'm not able to make you understand.
so thank you I try somewhere later

[2021-05-01 04:56] Praful932 commented on #215
Thanks for your interest, We don't think we currently need this :)

[2021-05-01 04:56] #215 closed

[2021-05-01 05:17] maneprajakta commented on #141
No updates recieved

[2021-05-01 05:17] #141 closed

[2021-05-04 05:19] AmrutaKoshe opened #223 "Search bar not working?"
**Describe the bug**
After typing and selecting a book from the search bar, it doesn't display that book. Even pressing enter doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kitabe-app.herokuapp.com/explore_books/
2. Click on search bar
3. Type any book.
4. See error

**Expected behavior**
A page displaying that book should appear, or if enter is pressed, all the

[2021-05-05 08:43] maneprajakta commented on #223
@Praful932 it doesn't work even at my end for all pages but when I inspect the page and change it to mobile view it works fine If you could check at your side.

[2021-05-05 13:01] Kavs-123 commented on #39
hey @Praful932
Can I work on this issue?

[2021-05-05 15:42] Praful932 commented on #223
Hmm, After entering the full name, sometimes it opens the book modal sometimes it doesn't

[2021-05-05 17:15] Praful932 commented on #39
Sure go ahead

[2021-05-06 10:01] Kavs-123 commented on #39
Thank you

[2021-05-07 04:58] maneprajakta commented on #35
@noviicee were you able to figure it out?

[2021-05-07 04:59] maneprajakta commented on #41
@SAHU-01 were you able to figure out the local setup problem?

[2021-05-07 05:00] maneprajakta commented on #48
@harshita2319 any updates?

[2021-05-07 05:01] maneprajakta commented on #223
@AmrutaKoshe you can work on this issue. Go ahead.

[2021-05-07 08:56] harshita2319 commented on #48
Hey ya on it! I was unwell, kinda better now so I've started working. Sorry for the delay!

[2021-05-08 13:45] #194 closed

[2021-05-08 16:40] noviicee commented on #35
Yup! I got a solution! Trying to figure it out for once more and make a PR in a few days.
Sorry for the delay, I got my papers in between :/

[2021-05-09 04:01] maneprajakta commented on #35
No issues :)

[2021-05-09 07:01] #56 closed

[2021-05-09 18:39] PranavChauhan22 opened #225 "Enhancing features of home and explore page"
Is your feature request related to a problem? Please describe.
It's not an issue.Actually when we lands on home and explore page,the page looks somewhat rough as there are less animations and transitions.

Describe the solution you'd like
I will add something like rotating globe or book opening and closing animations with less opacity in banner of home page and will add scroll animations in explor

[2021-05-10 03:06] maneprajakta commented on #225
@PranavChauhan22 could you follow the issue template and also provide an example there like in what way you want to make it dynamic.

[2021-05-10 08:12] PranavChauhan22 commented on #225
Is your feature request related to a problem? Please describe.
It's not an issue.Actually when we lands on home and explore page,the page looks somewhat rough as there are less animations and transitions.

Describe the solution you'd like
I will add something like rotating globe or book opening and closing animations with less opacity in banner of home page and will add scroll animations in explor

[2021-05-10 13:25] PranavChauhan22 commented on #225
should i proceed for it,eagerly waiting for reply?

[2021-05-11 03:18] maneprajakta commented on #225
@PranavChauhan22 liked the interactive resume :) it's pretty cool.
Could you provide a mock-up where exactly you wish to add animation?

[2021-05-11 08:33] SamikshaSankar opened #228 "Navbar(sticky)"
**Is your feature request related to a problem? Please describe.**
Navbar is not sticky

**Describe the solution you'd like**
I want to make sticky effect on navbar.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe alternatives you've considered**
N/A

[2021-05-11 09:40] noobkid2411 commented on #33
Hi,I would like to work on this issue,could you assign me the same!

[2021-05-11 11:11] sonaljain067 opened #229 "Improper positioning"
**Is your feature request related to a problem? Please describe.**
On the main page, the tiles are in quite an improper position.

**Describe the solution you'd like**
Aligning all tiles to the same baseline.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Additional context**
![Screenshot from 2021-05-11 16-32-40](https://user-images.githubusercontent.com/52230497/117806213-9f65

[2021-05-12 05:39] Praful932 commented on #228
Hi @SamikshaSankar Thanks for your interest :), There was already an issue made for the same #44

[2021-05-12 05:39] #228 closed

[2021-05-12 05:41] Praful932 commented on #33
Sure go ahead @noobkid2411, do checkout the [Guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-05-12 07:20] PranavChauhan22 commented on #225
https://user-images.githubusercontent.com/83133554/117934461-55846f00-b320-11eb-9172-c94806620563.mp4

This is what i did in the banner section of website.
-- Removed the carousel
-- changed the background color
-- added some animations in place of carousel

[2021-05-12 13:31] noobkid2411 commented on #33
Hey,I tried generating the results before adding code to helpers.py but the execution shows an error,
Module not found:no module named allauth and further goes on to say coverage.py warning no data collected. Can I get some help in figuring out what is the issue,I have never faced this issue before so would like some insights on the same!

[2021-05-13 02:59] maneprajakta commented on #225
@PranavChauhan22 thanks for the interest.
But we don't think we need such feature on the website.

[2021-05-13 02:59] #225 closed

[2021-05-13 03:04] maneprajakta commented on #229
@Praful932 is this problem going to be solved by #48

[2021-05-13 03:05] maneprajakta commented on #33
@noobkid2411 did you set up the env and installed all requirements.

[2021-05-13 03:06] maneprajakta commented on #39
@Kavs-123 any updates?

[2021-05-13 03:07] maneprajakta commented on #41
@SAHU-01 any updates?

[2021-05-13 03:09] maneprajakta commented on #193
@Praful932 I think we should close this issue. We need to first go for a new design of nav-bar as we had decided.

[2021-05-13 04:03] Praful932 commented on #33
@noobkid2411 Could you add the ss

[2021-05-13 04:14] Praful932 commented on #229
Nope we can take this here

[2021-05-13 04:17] Praful932 commented on #193
Agree

[2021-05-13 04:17] #193 closed

[2021-05-13 08:56] sonaljain067 commented on #229
Can I work on this issue?

[2021-05-13 09:07] Kavs-123 commented on #39
hey @maneprajakta
I am not well, therefore,
I won't be able to work on this issue!
I am extremely sorry for bothering you!

[2021-05-13 09:30] Praful932 commented on #229
Yea go ahead

[2021-05-13 09:58] maneprajakta commented on #39
@Kavs-123 No issues.
Take care :)

[2021-05-13 18:13] noobkid2411 commented on #33
Hey,thanks for responding,but I was able to resolve it. Apparantly the system was failing in building wheel for the all-auth dependency. I just reinstalled django and ran it again.I'll ask if I have any more issues. Would try to add a pr for the same soon too and will keep you guys updated till then:)

[2021-05-15 09:41] #229 closed

[2021-05-15 09:50] maneprajakta commented on #41
No updates received. Also, we think no need for this feature till now.

[2021-05-15 09:50] #41 closed

[2021-05-15 09:52] maneprajakta commented on #128
@Praful932 shall we close this issue. What do you say?

[2021-05-15 10:23] Aryamanz29 opened #234 "QA : Add formatter and linter"
- Need a workflow that ensures every contributor should follow the [PEP-8](https://www.python.org/dev/peps/pep-0008/) style guide for python code.
- We can use `flake8` for linting and `Black` for formatting source code.
- Also this workflow runs on every PR which ensures the code follows  [PEP-8](https://www.python.org/dev/peps/pep-0008/) standard or not.

[2021-05-15 10:27] Aryamanz29 commented on #234
@maneprajakta  @Praful932  I would like to work on this

[2021-05-15 10:54] Praful932 commented on #128
Yes, With the new updates, we won't be needing this anymore.

[2021-05-15 10:54] #128 closed

[2021-05-15 10:59] Praful932 commented on #48
Closing this, since color pallete enhancement is not needed anymore

[2021-05-15 10:59] #48 closed

[2021-05-15 11:52] noobkid2411 commented on #33
Hey,unfortunately I have a health emergency in my family to deal with.Iwould still like to contribute but I might not be able to make a pr before the 20th.If this is an urgent work,you can unassign me,sorry for the inconvenience from my side.

[2021-05-16 07:16] sonaljain067 opened #235 "Different heights of button"
**Is your feature request related to a problem? Please describe.**
On explore page, the buttons are of different heights.

**Describe the solution you'd like**
Making the heights of the button uniform.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Additional context**
![Screenshot from 2021-05-16 12-42-33](https://user-images.githubusercontent.com/52230497/118388855-86c4ae00-b6

[2021-05-19 01:30] maneprajakta commented on #234
@Aryamanz29 we already have a workflow for the project. We did not need these additions to it.

[2021-05-19 01:30] #234 closed

[2021-05-19 01:31] maneprajakta commented on #235
@sonaljain067 Go ahead with this!

[2021-05-19 01:35] maneprajakta commented on #35
@noviicee any updates?

[2021-05-19 01:36] maneprajakta commented on #223
@AmrutaKoshe where you able to figure out the problem.

[2021-05-19 13:11] #235 closed

[2021-05-19 16:08] Alenjojo opened #237 "Adding custom scrollbar in firefox"
**Describe the bug**
A clear and concise description of what the bug is.
the scrollbar of chrome has been customized but it hasn't effected firefox cuz it uses different syntax for it
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'firefox'
2. Click on 'website link'
3. Scroll down to 'and you can see the default scrollbar in it'
4. See error

**Expected behavior**
A clear and concise

[2021-05-19 16:25] Alenjojo opened #238 "Redesign login text box for better user experience"
**Is your feature request related to a problem? Please describe.**
The current text box is the default has don't match the current user experience

**Describe the solution you'd like**
Will try adding some better CSS to make it look pretty

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Additional context**
Add any other context or screenshots about the feature request here.
As y

[2021-05-19 17:01] noviicee commented on #35
Unable to increase the coverage beyond 70%  :\

[2021-05-20 05:20] Praful932 commented on #35
@noviicee We can help out, which functions are you facing issues for writing tests

[2021-05-20 05:56] maneprajakta commented on #238
@Alenjojo sure go ahead!

[2021-05-20 05:59] maneprajakta commented on #237
@Praful932 what you say about this?

[2021-05-20 08:53] Praful932 commented on #237
Sounds as a resonable issue

[2021-05-20 11:25] ambivert-sam commented on #238
Participant of gssoc'21 and willing to contribute to this issue, can you please assign me?

[2021-05-21 05:01] AmrutaKoshe commented on #223
Hi sorry I had my college practicals. I will work on it today

[2021-05-21 11:53] Alenjojo commented on #237
i know u asked me to do exactly as seen from chrome, but there are some limitation for Firefox. Then only syntax that it has to make it thin and change color. I'll be putting two images you tell you which ones better. @Praful932
![thin](https://user-images.githubusercontent.com/51394913/119133012-072a4b00-ba59-11eb-8829-85bbd93fbf18.PNG)
![5px](https://user-images.githubusercontent.com/51394913/11

[2021-05-21 16:45] subhangi2731 commented on #33
@Praful932 please assign me this I want to work on this

[2021-05-21 16:46] subhangi2731 commented on #35
@Praful932 @maneprajakta can i work on this please

[2021-05-21 16:47] subhangi2731 commented on #129
@maneprajakta please assign this to me

[2021-05-21 16:55] subhangi2731 commented on #38
@Praful932 please assign this issue to me

[2021-05-21 17:01] noviicee commented on #35
Still working on it :)

[2021-05-22 03:37] maneprajakta commented on #223
No issue!

[2021-05-22 03:38] maneprajakta commented on #129
@subhangi2731 thanks for showing interest it's already assigned to @knmehta12

[2021-05-22 03:40] maneprajakta commented on #33
@subhangi2731 you can take this up!

[2021-05-22 03:49] Praful932 commented on #238
Hi @ambivert-sam This is already assigned, check out the [starter guide](https://github.com/Praful932/Kitabe/discussions/42) :)

[2021-05-22 03:50] Praful932 commented on #237
@Alenjojo Alright the one with the same width in chrome and same color works for us

[2021-05-22 06:51] Alenjojo commented on #237
Thats what i'm trying to say, there isn't enough syntax in firefox to make in look exactly as of chrome. I can only make it thin and change color

[2021-05-22 06:58] Praful932 commented on #237
Alright the first one works then

[2021-05-22 11:36] #237 closed

[2021-05-23 09:27] Alenjojo opened #243 "After refereshing the info remains"
**Describe the bug**
A clear and concise description of what the bug is.
In the login page when we type down the wrong credentials and its says username and password not found. So even after we refresh the page except the password everything stays put. So it makes a bit confuse for the user.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login page'
2. Click on 'login in'
3. Scroll do

[2021-05-25 16:52] sonaljain067 opened #244 "Incorrect display in a range"
**Is your feature request related to a problem? Please describe.**
From 601 to 768 px,
The logo moves right side
Toggle button to the left side
Also, the icons of the navbar don't look good in this range.

**Describe the solution you'd like**
Positioning the logo on the left side, toggle button to the right side, and removing the display of icons in this range.

**Are you willing to contribute to

[2021-05-26 04:54] #129 closed

[2021-05-26 05:30] Praful932 commented on #244
Go ahead @sonaljain067 👍

[2021-05-26 05:35] Praful932 commented on #38
Fixed by #135

[2021-05-26 05:35] #38 closed

[2021-05-26 06:19] maneprajakta commented on #33
@subhangi2731 any updates!

[2021-05-26 06:25] maneprajakta commented on #243
@Alenjojo after refreshing the page username doesn't stay up

[2021-05-26 08:29] arpit456jain opened #245 "Download database for user rating directly from Django admin as csv file"
Download database for user rating directly from Django admin as csv file

[2021-05-26 15:44] Praful932 commented on #245
We don't think this would be useful

[2021-05-26 15:44] #245 closed

[2021-05-27 10:45] #244 closed

[2021-05-29 06:56] AmeyaJain-25 opened #247 "The Navbar is disturbed in small screen sizes"
**Describe the bug**
In small screen sizes, the navbar is disturbed and the menu icon comes on another line

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kitabe website'
2. Open in small screen width size

**Expected behavior**
The navbar should also properly aligned in small mobile screen sizes as like tab sizes.

**Screenshots**
![Screenshot from 2021-05-29 12-02-47](https://user-

[2021-05-29 07:07] maneprajakta commented on #247
@AmeyaJain-25 can you specify the screen range?

[2021-05-29 07:23] AmeyaJain-25 commented on #247
355px and below

[2021-05-29 08:36] maneprajakta commented on #247
@AmeyaJain-25 Go ahead. Read once [Starter Guide](https://github.com/Praful932/Kitabe/discussions/42) it would help.

[2021-05-29 08:38] #243 closed

[2021-05-30 20:30] ishitakapoor26 opened #249 "Hovering effect on More Details button in explore section."
Description
Hovering effect is not there on More Details button in Explore Section.

To Reproduce
Steps to reproduce the behavior:
Go to 'kitabe website'
Open explore section.
Expected behavior
More Details button should change colour and border when pointer is placed over it.

Screenshots
![Capture](https://user-images.githubusercontent.com/78542333/120144520-ad1b4980-c1ff-11eb-8239-4ed64eae09ad.

[2021-05-30 20:34] ishitakapoor26 commented on #249
Pls assign this issue to me and review my pr #250 @varunkmr19 @ImgBotApp

[2021-05-31 03:24] maneprajakta commented on #249
@ishitakapoor26 could you plz edit the Issue description it should be something like this #247. Then we can move forward.

[2021-05-31 05:21] ishitakapoor26 commented on #249
Reply: Yes

[2021-05-31 05:58] maneprajakta commented on #249
@ishitakapoor26 `more details` button for all pages don't have a hovering effect on it. It would be great if you could put that for all pages.
Just add a text-shadow as hovering effect.Something like this would work.
`text-shadow: 0px 0px 6px white;
 color:white;`

[2021-05-31 06:15] ishitakapoor26 commented on #249
Ok I'll do

[2021-05-31 07:19] ishitakapoor26 commented on #249
@maneprajakta added hovering effect to all the buttons and text to all the pages. Pls review my pr.

[2021-05-31 07:48] ishitakapoor26 commented on #249
Pls merge it @maneprajakta

[2021-05-31 14:04] ishitakapoor26 commented on #249
@maneprajakta I've resolved all the changes. Now pls check

[2021-05-31 18:19] #249 closed

[2021-06-10 14:22] #247 closed

[2021-07-25 08:30] Praful932 commented on #238
Closing this as no longer in priority

[2021-07-25 08:30] #238 closed

[2021-07-25 08:32] Praful932 commented on #39
Closing as not a priority right now

[2021-07-25 08:32] #39 closed

[2021-07-25 08:34] Praful932 commented on #223
Fixed
![image](https://user-images.githubusercontent.com/45713796/126892976-0a27534f-5e4f-4ffa-b18a-398b0c13ab37.png)

[2021-07-25 08:34] #223 closed

[2021-08-05 10:37] Praful932 commented on #35
Not prioritized right now

[2021-08-05 10:37] #35 closed

[2021-08-05 10:37] Praful932 commented on #33
Not prioritized right now

[2021-08-05 10:37] #33 closed

[2021-08-18 18:36] varshith-Git opened #256 "BLINKING CURSOR COINCIDES WITH ICON IN NAV SEARCH"
![qww](https://user-images.githubusercontent.com/66832564/129952311-31a6658d-b2ba-444a-9b06-befd329fa899.png)

*the Blinking cursor is coincide with the search icon on the nav bar

[2021-08-19 04:45] Praful932 commented on #256
Hi, @varshith-Git Could you edit your issue with the correct [format](https://github.com/Praful932/Kitabe/issues/new/choose)?

[2021-08-19 05:33] varshith-Git commented on #256
HI praful
i wish to contact you personally could you mind giving me some time
. please i need your help

On Thu, 19 Aug 2021 at 10:15, Praful932 ***@***.***> wrote:

[2021-08-23 18:35] Simranjakhodia opened #257 "To create a fixed top navbar."
**Is your feature request related to a problem? Please describe.**
Yes. At present, while scrolling we see that navbar isn't fixed to the top

**Describe the solution you'd like**
The navigation bar will remain at the top while scrolling and it will  make the browsing even easier.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe alternatives you've considered**
Want to ma

[2021-09-01 15:07] Praful932 commented on #257
Hi @Simranjakhodia Thanks for your interest in the project :), There has been already an issue regarding that - #44

[2021-09-01 15:07] #257 closed

[2021-09-01 15:09] Praful932 commented on #256
Hi @varshith-Git rather than middle just to the side of the icon would be nice too :)
cc @maneprajakta

[2021-11-10 05:30] kabilanvennila commented on #256
Hi , Is this still open ? i'd like to fix this

[2021-11-10 05:39] Praful932 commented on #256
Yea it's open, go ahead @kabilanvennila

[2021-12-20 02:28] liperrino opened #261 "Recommendations based on what the user views"
**Is your feature request related to a problem? Please describe.**
I would like to have suggestions based on what the user views too
**Describe the solution you'd like**
If a user clicks on a book of a particular gender(3 times) then next reload suggestions will be more based on that gender and the rest of genders on which he has clicked too.
**Are you willing to contribute to this issue?**
Yes, B

[2021-12-22 12:30] Praful932 commented on #261
Hi @liperrino, Could you elaborate on what you mean by gender?

By any chance did you mean to say _genre_?

As for the train models, you can refer the [Notebook and Files section](https://github.com/Praful932/Kitabe#notebooks-and-files-) in the Readme particularly the Cleaning & Embedding Notebook from which the resulting embeddings are generated and the Tfidf Notebook From which the Tfidf Matrice

[2022-01-16 13:17] #261 closed

[2022-05-08 02:25] Anurag9981 opened #265 "Recommendations not being displayed while searching a book"
https://user-images.githubusercontent.com/85742953/167278775-15a1c135-6045-4b72-8eee-763f3180d079.mp4

Hey sir,
there is a problem in this project, i am searching the book so i am doing the recommendation but if i am clicking on the recommendation then the show is not happening
ye android me work kar raha h par pc me nhi plz help me sir😊

[2022-10-09 12:42] Praful932 commented on #256
unassigning due to inactivity

[2022-10-09 12:46] Praful932 opened #267 "Deployment alternative to heroku 🛠"
**Is your feature request related to a problem? Please describe.**
Heroku free dynos [wouldn't be available](https://devcenter.heroku.com/articles/dynos#:~:text=Starting%20November%2028th%2C%202022%2C%20free,and%20to%20retain%20your%20data.) , we need to move our deployment smoothly to some other service

**Describe the solution you'd like**
Deployment to other services, needs exploration

**Descr

[2022-10-09 12:49] Praful932 commented on #265
@Anurag9981 It is working for me, Try opening in incognito or other browser

[2022-10-09 12:50] Praful932 opened #268 "Move dependency management to poetry"
**Is your feature request related to a problem? Please describe.**
Move the dependency management to poetry

**Describe the solution you'd like**
requirements.txt replaced with poetry files

**Additional context**
This can fix platform issues and help pin the dependencies

[2022-10-09 16:10] Praful932 opened #269 "Add Pre-commit hooks"
**Is your feature request related to a problem? Please describe.**
Tidy out code and check for linting

**Describe the solution you'd like**
use pre-commit hooks to solve this

**Are you willing to contribute to this issue?**
Yes